body#tinymce {
    background: url("../images/boardBg.jpg") !important;
    color: #fff !important;
}
body#tinymce a {
    color: #fff;
}
body#tinymce a:link,
body#tinymce a:visited {
    text-decoration: underline;
}
body#tinymce a:hover,
body#tinymce a:focus {
    text-decoration: none;
}
body#tinymce table caption {
    color: #fff;
}
body#tinymce blockquote {
    border-left: 5px solid #eee;
    font-size: 17.5px;
    margin: 0 0 20px;
    padding: 10px 20px;
    color: #fff;
}
body#tinymce blockquote p {
    margin: 0;
}
body#tinymce table th,
body#tinymce table td {
    border-color: #fff;
    color: #fff;
}
body#tinymce h3 {
    color: #fff;
}
body#tinymce h4 {
    color: #fff;
}
body#tinymce h5 {
    color: #fff;
}
body#tinymce h6 {
    color: #fff;
}