html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #aad4ff;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  background-color: #0d335a;
  background-image: url("../images/background.jpg");
  background-repeat: repeat;
}

.page {
  position: relative;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.label, label {
  white-space: normal;
  text-align: left;
  border-radius: 0;
  line-height: 34px;
  display: inline-block;
}

p, span, a, h2, h3 {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

p, span {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-backdrop {
  display: none;
}

form, fieldset, button {
  margin: 0;
  background-color: transparent;
  padding: 0;
  border: none;
}

legend {
  position: absolute;
  left: -9000em;
}

input, select, textarea {
  font-size: 1.3rem;
  font-family: 'Roboto', Tahoma, Arial, Helvetica, sans-serif;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  transition: all .3s ease-in-out;
  color: #ee8825;
}

a:hover, a:focus {
  color: currentColor;
}

a:focus {
  text-decoration: none;
}

a[href^="mailto:"] {
  word-break: break-all;
}

.skip-links {
  position: absolute;
  top: 0;
}

.skip-links a, .skip-links a:visited {
  display: inline-block;
  left: -9999px;
  padding: 7px 10px;
  position: absolute;
  text-decoration: none;
  z-index: 100;
  min-width: 200px;
  text-align: center;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.skip-links a:focus, .skip-links a:hover, .skip-links a:active, .skip-links a:visited:focus, .skip-links a:visited:hover, .skip-links a:visited:active {
  left: 0;
  background-color: #ee8825;
  border: 2px solid #aad4ff;
  color: #fff;
  font-weight: bold;
  opacity: 1;
  outline: none;
}

.no-outline {
  outline: none !important;
}

a:focus, button:focus, .menu-top .navbar-toggl:focus, .dropdown-toggle:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: 0;
}

a.keyboard-outline, button.keyboard-outline, a.button.keyboard-outline, input[type=submit].keyboard-outline, input[type=radio].keyboard-outline, input[type=button].keyboard-outline, .toolbar .searchbar form input[type=text].keyboard-outline, .menu-top .navbar-toggle.keyboard-outline, .dropdown-toggle.keyboard-outline {
  outline: 2px solid #fff;
  outline-offset: 0;
  display: inline-block;
}

input[type="text"].keyboard-outline, input[type="password"].keyboard-outline, input[type="email"].keyboard-outline, textarea.keyboard-outline {
  outline: 2px solid #fff !important;
  outline-offset: 0;
}

.butForm, button:not(#toolbar-search):not(#navbar-mobile), input[type="submit"]:not(#toolbar-search), .button {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  border-top: 1px solid #091b2e !important;
  border-bottom: 1px solid #235180 !important;
  border-left-width: 0;
  transition: all .3s ease;
  border-right-width: 0;
  outline-width: 0;
  background-color: #264667;
  background-image: url("../images/gradient1.png");
  color: #aad4ff !important;
  text-decoration: none !important;
  padding: 10px 19px !important;
  line-height: 15px;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 0.5px;
}

.butForm:hover, button:not(#toolbar-search):not(#navbar-mobile):hover, input[type="submit"]:not(#toolbar-search):hover, .button:hover {
  background-image: none;
  background-color: #aad4ff;
  color: #264667 !important;
  text-decoration: none !important;
}

.butForm.keyboard-outline, button:not(#toolbar-search):not(#navbar-mobile).keyboard-outline, input[type="submit"]:not(#toolbar-search).keyboard-outline, .button.keyboard-outline {
  outline-width: 2px;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2.4rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .header__title p {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #ee8825;
}

h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.6rem;
}

div[aria-hidden="true"] {
  display: inline;
}

.main-header {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 36px;
  color: #ee8825 !important;
  letter-spacing: 0.5px;
  margin: 0 0 15px;
  padding: 0;
  display: block;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.2);
}

.main-header span {
  display: inline-block;
  position: relative;
  padding-bottom: 9px;
}

.main-header span:after {
  content: '';
  height: 4px;
  width: 100%;
  display: block;
  background-color: #0f2139;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-text a {
  color: #ee8825;
  text-decoration: underline;
}

.main-text a:hover, .main-text a:focus {
  text-decoration: none;
}

.page-content-mobile, a#top, #flashclock {
  display: none;
}

.page-content {
  padding-top: 0;
}

.files-header,
.gallery-header,
.subHead,
.main-header {
  font-size: 3.2rem;
  line-height: 36px;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #ee8825;
  letter-spacing: 0.5px;
  margin: 0 0 15px;
  padding: 0;
}

input[type=text],
input[type=search],
input[type=password],
input[type=submit],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=text],
input[type=search],
input[type=password],
textarea {
  border: 1px solid #235180;
  padding: 0 10px;
  line-height: 32px;
  color: #aad4ff;
  font-size: 1.5rem;
  background-color: #122641;
  max-width: 340px;
}

input[type=text],
input[type=search],
input[type=password] {
  height: 34px;
}

.dropdown-menu > li > a {
  white-space: normal;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background: transparent;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

table th {
  font-weight: 700;
  padding: 5px;
  background: #122641;
  color: #98bfe9;
  text-transform: capitalize;
  border-bottom: 1px solid #122641;
}

table th:first-child {
  border-left: 1px solid #122641;
}

table th:last-child {
  border-right: 1px solid #122641;
}

table td {
  color: #aad4ff;
  padding: 5px;
  border: 1px solid #122641;
}

table caption {
  color: #aad4ff;
  font-weight: 700;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 56.25%;
  }
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: 0;
  }
}

.toolbar {
  position: relative;
  z-index: 4;
}

.toolbar:before, .toolbar:after {
  content: " ";
  display: table;
}

.toolbar:after {
  clear: both;
}

.toolbar__links {
  padding: 14px 0 22px;
}

.toolbar__links li, .toolbar__links ul {
  font-size: 0;
  display: inline-block;
  vertical-align: bottom;
}

.toolbar__links li.fonts {
  margin: 0 5px;
}

.toolbar__links li.fonts li {
  margin-right: 3px;
}

.toolbar__links li.fonts li:last-child {
  margin: 0;
}

.toolbar__links li.contrast {
  width: 31px;
  position: relative;
  text-align: center;
}

.toolbar__links li.contrast:before, .toolbar__links li.contrast:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #7c4713;
  width: 1px;
  height: 6px;
  top: 50%;
  transform: translateY(-50%);
}

.toolbar__links li.contrast:before {
  left: 0;
}

.toolbar__links li.contrast:after {
  right: 0;
}

.toolbar__links li.contrast svg {
  margin: 0 auto;
  fill: #ee8825;
  width: 18px;
  height: 19px;
  display: inline-block;
}

.toolbar__links li.bip {
  transform: translateY(4px);
}

.toolbar__search {
  width: 243px;
  height: 34px;
  padding: 0 6px 0 12px;
  position: relative;
  border: 1px solid #5e3823;
  background-color: #2c1a10;
}

.toolbar__search button {
  width: 30px;
  height: 30px;
  padding: 5px;
  border: 0;
  background-color: transparent;
  position: absolute;
  right: 1px;
  top: 1px;
}

.toolbar__search button:hover, .toolbar__search button:focus {
  background-color: #5e3823;
}

.toolbar__search button svg path {
  fill: #ee8825;
}

.toolbar__search input[type="text"] {
  display: inline-block;
  width: calc(100% - 30px);
  line-height: 32px;
  font-size: 1.3rem;
  height: 32px;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: #ee8825;
  border: 0;
}

.navbar {
  border: 0;
  margin: 0;
}

.navbar-toggle {
  border: 0;
}

@media screen and (max-width: 1199px) {
  .toolbar__search {
    width: 100%;
  }
  .toolbar__links {
    padding-left: 4px;
  }
  .toolbar__links li.fonts {
    margin: 0 25px;
  }
  .toolbar__links li.fonts li {
    margin-right: 8px;
  }
  .toolbar__links li.bip {
    transform: translateY(10px);
  }
}

@media screen and (max-width: 991px) {
  .toolbar {
    width: calc(100% + 30px);
    transform: translateX(-15px);
    padding: 0 15px;
  }
  .toolbar__links {
    padding: 6px 0 15px;
    float: left;
  }
  .toolbar__links li {
    margin: 0 5px 0 0;
  }
  .toolbar__links li.fonts {
    display: none;
  }
  .toolbar__links li.bip {
    transform: translateY(6px);
  }
  .toolbar__links li.bip a {
    width: 26px;
    overflow: hidden;
  }
  .toolbar__links li.bip a img {
    max-width: 121px;
    width: 121px;
  }
  .toolbar__search {
    position: absolute;
    right: 15px;
    top: 6px;
    overflow: hidden;
    width: 44px;
    height: 40px;
  }
  .toolbar__search button {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  .toolbar__search.show {
    width: 244px;
  }
  .toolbar__search input[type="text"] {
    width: calc(100% - 40px);
    line-height: 42px;
    height: 42px;
  }
  .navbar .container, .navbar .holder {
    width: 100%;
    padding: 0;
  }
  .navbar-collapse.collapse, .navbar-collapse {
    display: none !important;
    padding: 0;
  }
  .navbar-collapse {
    border-top: 0;
  }
  .navbar-collapse.menu.collapse.in {
    display: block !important;
  }
  .navbar-header {
    width: 100%;
    height: 50px;
    background-color: #13477c;
    float: none;
    width: calc(100% + 30px);
    transform: translateX(-15px);
  }
  .navbar-toggle {
    float: none;
    display: block;
    width: 100%;
    padding: 13px 15px;
    margin: 0;
  }
  .navbar-toggle i {
    margin-left: 15px;
    pointer-events: none;
    transition: all .3s ease;
    display: block;
    width: 36px;
    height: 3px;
    background-color: #aad4ff;
  }
  .navbar-toggle i:not(:last-of-type) {
    margin-bottom: 7px;
  }
  .navbar-toggle[aria-expanded="true"] i:first-of-type {
    transform: rotate(45deg) translateX(8px) translateY(7px);
  }
  .navbar-toggle[aria-expanded="true"] i:nth-of-type(2) {
    opacity: 0;
  }
  .navbar-toggle[aria-expanded="true"] i:last-of-type {
    transform: rotate(-45deg) translateX(7px) translateY(-6px);
  }
}

@media screen and (max-width: 767px) {
  .navbar-collapse.menu.collapse.in {
    overflow-x: hidden;
  }
}

.menu-top {
  border-top: 1px solid #0f3b69;
  border-bottom: 1px solid #0f3b69;
  background: #0d335a;
  background: linear-gradient(to bottom, #0d3055 0%, #0e355d 100%);
}

.menu-top .holder > ul {
  margin: 0 auto;
  text-align: center;
}

.menu-top .holder > ul > li {
  display: inline-block;
  font-size: 0;
  padding-top: 1px;
}

.menu-top .holder > ul > li > a {
  display: block;
}

.menu-top .holder > ul > li > .dropdown-menu {
  padding: 0;
  margin: 0;
  box-shadow: none;
  border: 0;
  border-radius: 0;
  background-color: #13477c;
  border-bottom: 4px solid rgba(0, 0, 0, 0.4);
}

.menu-top .holder > ul > li > .dropdown-menu a:hover, .menu-top .holder > ul > li > .dropdown-menu a.selected {
  background-color: #0d335a;
}

.menu-top .holder > ul a {
  color: #aad4ff;
  font-size: 1.5rem;
  line-height: 19px;
  padding: 15px 17px;
}

.menu-top .holder > ul a:hover, .menu-top .holder > ul a.selected {
  background-color: #13477c;
  color: #aad4ff;
  text-decoration: none;
}

.menu-top .icon-protected {
  transform: translateY(3px);
  width: 10px;
  height: 16px;
  display: inline-block;
  margin-left: 5px;
}

.menu-top .icon-protected:before {
  display: none;
}

.menu-top .icon-protected svg {
  margin: 0 auto;
  fill: #356da6;
}

.menu-top .protectedPage i + div > svg {
  display: none;
}

@media screen and (max-width: 991px) {
  .menu-top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    border: 0;
  }
  .menu-top .holder > ul > li {
    width: 100%;
    display: block;
    padding-top: 0;
  }
  .menu-top .holder > ul > li:last-child {
    border-bottom: 1px solid #0f2139;
  }
  .menu-top .holder > ul > li > .dropdown-menu {
    position: static;
    float: none;
    text-align: center;
    border-bottom-width: 0;
  }
  .menu-top .holder > ul > li > .dropdown-menu a:hover, .menu-top .holder > ul > li > .dropdown-menu a.selected {
    background-color: #40668d;
  }
}

.header {
  position: relative;
  min-height: 472px;
  background-image: url("../images/header/background.jpg");
  background-size: cover;
  padding: 13px 0 6px;
}

#banner {
  height: 453px;
}

#banner .carousel-content .banner-photo {
  height: 453px;
}

#banner .banner-photo {
  width: 847px;
  height: 453px;
  margin: 0 auto;
  position: relative;
}

#banner .banner-photo svg {
  position: absolute;
  display: block;
  width: 847px;
  left: 0;
}

#banner .banner-photo svg:not(.shadow) {
  bottom: 14px;
  z-index: 2;
  height: 439px;
}

#banner .banner-photo svg.shadow {
  top: 20px;
  height: 431px;
}

.header__address {
  margin-bottom: 15px;
  font-size: 1.4rem;
  line-height: 18px;
  margin-left: 23px;
  color: #fff;
}

.header__address p, .header__address a {
  margin: 0;
}

.header__address a {
  color: currentColor;
  text-decoration: underline;
}

.header__address a:hover {
  text-decoration: none;
}

.header__title {
  background-image: url("../images/header/title-shadow.svg");
  background-size: cover;
  width: 435px;
  position: relative;
  z-index: 9;
  padding-bottom: 10px;
  margin: 50px 0 13px;
}

.header__title p {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #0c3560;
  font-size: 2.9rem;
  margin: 0;
  width: calc(100% + 10px);
  transform: translateX(-5px);
  line-height: 34px;
  background-image: url("../images/header/title.svg");
  background-size: cover;
  padding: 31px 57px 39px 29px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 1199px) {
  #banner {
    margin-top: 40px;
    height: 372px;
  }
  #banner .carousel-content .banner-photo {
    height: 372px;
  }
  #banner .banner-photo {
    width: 697px;
    height: 372px;
    position: relative;
  }
  #banner .banner-photo svg {
    position: absolute;
    display: block;
    width: 697px;
    left: 0;
  }
  #banner .banner-photo svg:not(.shadow) {
    bottom: 14px;
    z-index: 2;
    height: 358px;
  }
  #banner .banner-photo svg.shadow {
    top: 20px;
    height: 350px;
  }
  .header__title {
    margin-top: 10px;
  }
}

@media screen and (max-width: 991px) {
  .header {
    margin-top: 50px;
    padding: 0;
  }
  .header .container {
    width: 100%;
  }
  #banner {
    margin: 25px auto;
  }
  .header__title {
    float: left;
    margin: 0;
  }
  .header__address {
    float: right;
    margin-left: 0;
    width: calc(100% - 455px);
  }
}

@media screen and (max-width: 767px) {
  .header__title, .header__address {
    max-width: 570px;
    margin: 0 auto 5px;
    float: none;
    width: calc(100% - 30px);
  }
  .header__address {
    text-align: center;
    margin-bottom: 15px;
  }
  #banner {
    height: 321px;
  }
  #banner .carousel-content .banner-photo {
    height: 321px;
  }
  #banner .banner-photo {
    width: 580px;
    height: 321px;
  }
  #banner .banner-photo svg {
    width: 580px;
  }
  #banner .banner-photo svg:not(.shadow) {
    bottom: 14px;
    z-index: 2;
    height: 313px;
  }
  #banner .banner-photo svg.shadow {
    top: 20px;
    height: 305px;
  }
}

@media screen and (max-width: 639px) {
  #banner {
    height: 225px;
  }
  #banner .carousel-content .banner-photo {
    height: 225px;
  }
  #banner .banner-photo {
    width: 420px;
    height: 225px;
  }
  #banner .banner-photo svg {
    width: 420px;
  }
  #banner .banner-photo svg:not(.shadow) {
    height: 217px;
  }
  #banner .banner-photo svg.shadow {
    height: 209px;
  }
  .header__title, .header__address {
    max-width: 400px;
  }
}

@media screen and (max-width: 479px) {
  #banner {
    height: 191px;
  }
  #banner .carousel-content .banner-photo {
    height: 191px;
  }
  #banner .banner-photo {
    width: 356px;
    height: 191px;
  }
  #banner .banner-photo svg {
    width: 356px;
  }
  #banner .banner-photo svg:not(.shadow) {
    height: 184px;
  }
  #banner .banner-photo svg.shadow {
    height: 177px;
  }
  .header__title, .header__address {
    max-width: 340px;
  }
  .header__title p, .header__address p {
    font-size: 2rem;
    line-height: 24px;
    padding: 15px;
  }
}

@media screen and (max-width: 399px) {
  #banner {
    height: 145px;
  }
  #banner .carousel-content .banner-photo {
    height: 145px;
  }
  #banner .banner-photo {
    width: 270px;
    height: 145px;
  }
  #banner .banner-photo svg {
    width: 270px;
  }
  #banner .banner-photo svg:not(.shadow) {
    height: 138px;
  }
  #banner .banner-photo svg.shadow {
    height: 130px;
  }
  .header__title, .header__address {
    max-width: 250px;
  }
}

.modules-top {
  background-color: #122540;
  background-image: url("../images/gradient1.png");
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 15px 0 12px;
  font-size: 1.4rem;
  color: #aad4ff;
}

.modules-top:before, .modules-top:after {
  content: " ";
  display: table;
}

.modules-top:after {
  clear: both;
}

.modules-top a {
  color: #aad4ff;
  text-decoration: none;
}

.modules-top a:hover {
  text-decoration: underline;
}

.modules-top .module__pin {
  position: absolute;
  z-index: 3;
  right: calc(50% - 14px);
}

.modules-top .module {
  vertical-align: top;
  display: inline-block;
  position: relative;
  margin-left: 13px;
  margin-right: 13px;
}

.modules-top .module.module-4 {
  width: 263px;
}

.modules-top .module.module-3 {
  width: calc(33.3333% - 30px);
}

.modules-top .module.module-2 {
  width: calc(50% - 30px);
}

.modules-top .module.module-1 {
  width: calc(100% - 30px);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modules-top .module:first-child .module__pin-path--1 {
  fill: #197597;
}

.modules-top .module:first-child .module__pin-path--2 {
  fill: #1eb3ea;
}

.modules-top .module:first-child .module__pin-path--3 {
  fill: #0a6789;
}

.modules-top .module:first-child .module__pin-path--4 {
  fill: #1388b3;
}

.modules-top .module:first-child .module__pin-path--5 {
  fill: #1eb3ea;
}

.modules-top .module:nth-child(2) .module__pin-path--1 {
  fill: #8c2428;
}

.modules-top .module:nth-child(2) .module__pin-path--2 {
  fill: #ea1e29;
}

.modules-top .module:nth-child(2) .module__pin-path--3 {
  fill: #ac1a1f;
}

.modules-top .module:nth-child(2) .module__pin-path--4 {
  fill: #91282c;
}

.modules-top .module:nth-child(2) .module__pin-path--5 {
  fill: #ea1e29;
}

.modules-top .module:nth-child(3) .module__pin-path--1 {
  fill: #a85b00;
}

.modules-top .module:nth-child(3) .module__pin-path--2 {
  fill: #ea830a;
}

.modules-top .module:nth-child(3) .module__pin-path--3 {
  fill: #a85b00;
}

.modules-top .module:nth-child(3) .module__pin-path--4 {
  fill: #9b5400;
}

.modules-top .module:nth-child(3) .module__pin-path--5 {
  fill: #ea830a;
}

.modules-top .module:nth-child(4) .module__pin-path--1 {
  fill: #3f813e;
}

.modules-top .module:nth-child(4) .module__pin-path--2 {
  fill: #41c53e;
}

.modules-top .module:nth-child(4) .module__pin-path--3 {
  fill: #2e7e2b;
}

.modules-top .module:nth-child(4) .module__pin-path--4 {
  fill: #2caa29;
}

.modules-top .module:nth-child(4) .module__pin-path--5 {
  fill: #49e545;
}

.modules-top .module#mod_login fieldset {
  max-width: 280px;
  display: block;
  margin: 0 auto;
}

.modules-top .module#mod_login label {
  width: 50px;
  margin-right: 7px;
}

.modules-top .module#mod_login input[type="text"], .modules-top .module#mod_login input[type="password"] {
  width: calc(100% - 57px);
}

.modules-top .module#mod_login input[type="submit"], .modules-top .module#mod_login .button {
  margin-top: 5px;
}

.modules-top .module#mod_login .button-wrapper {
  text-align: center;
}

.modules-top .module#mod_calendar .clock-container svg {
  height: 46px;
  width: 46px;
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  transform: none;
}

.modules-top .module#mod_calendar .name-day {
  margin: 0;
}

.modules-top .module#mod_kzk .modules-top__icon svg:not(.circle) {
  width: 25px;
}

.modules-top__background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.modules-top__shadow {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  top: 5px;
}

.modules-top__shadow path {
  fill: #000;
}

.modules-top__holder {
  position: relative;
  z-index: 2;
  max-width: 330px;
  margin: 0 auto;
  padding: 45px 25px 18px;
}

.modules-top__icon {
  position: relative;
  width: 73px;
  height: 73px;
  margin: 0 auto;
}

.modules-top__icon:before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translateX(-46%) translateY(-54%);
  width: 68px;
  height: 68px;
  z-index: 3;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #2b65a0;
}

.modules-top__icon .clock-container {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-44%);
}

.modules-top__icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
}

.modules-top__icon .circle {
  fill: #13477c;
  width: 73px;
  height: 73px;
  transform: translateX(-50%) translateY(-50%);
}

.modules-top__icon svg:not(.circle) {
  width: 31px;
  fill: #3a81c9;
  transform: translateX(-45%) translateY(-51%);
}

.modules-top__name {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  display: block;
  margin: 2px auto 12px;
  text-align: center;
  color: #58a3ef;
  font-size: 2rem;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 1199px) {
  .modules-top .module {
    margin-left: 5px;
    margin-right: 5px;
  }
  .modules-top .module.module-4 {
    width: 225px;
  }
  .modules-top .module.module-3 {
    width: calc(33.3333% - 20px);
  }
  .modules-top .module#mod_login .modules-top__holder {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 991px) {
  .modules-top .module {
    margin-bottom: 10px;
  }
  .modules-top .module.module-4 {
    width: 360px;
  }
  .modules-top .module#mod_login .modules-top__holder {
    padding-left: 25px;
    padding-right: 25px;
  }
  .modules-top__holder {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .modules-top .module {
    height: auto !important;
    display: block;
    margin: 0 auto 10px !important;
    width: 280px !important;
  }
}

.sidebar-menu {
  width: 263px;
  padding-top: 50px;
  margin-bottom: 25px;
  position: relative;
  background-color: #fff;
}

.sidebar-menu:before, .sidebar-menu:after {
  content: '';
  display: block;
}

.sidebar-menu:before {
  width: 1px;
  height: 100%;
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 41px;
  background-color: #ec9797;
}

.sidebar-menu:after {
  width: 100%;
  height: 11px;
  background-color: #e4e8eb;
  position: relative;
  z-index: 4;
}

.sidebar-menu .module-name {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 20px;
  background-color: #fff;
  color: #ee8825;
  position: relative;
  z-index: 5;
  min-height: 50px;
  margin: 0;
  padding: 15px 20px;
  border-bottom: 1px solid #e0e2e7;
}

.sidebar-menu a {
  color: #0c3560;
}

.sidebar-menu a.keyboard-outline {
  outline-color: #ee8825 !important;
}

.sidebar-menu ul {
  position: relative;
  z-index: 4;
}

.sidebar-menu ul.menus {
  padding: 0;
  list-style: none;
  background-color: #e4e8eb;
}

.sidebar-menu ul.menus li {
  position: relative;
}

.sidebar-menu ul.menus li a {
  display: block;
  min-height: 35px;
  font-size: 1.5rem;
  line-height: 19px;
  position: relative;
  padding: 8px 25px 8px 55px;
  border-bottom: 1px solid #b2b6c4;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.sidebar-menu ul.menus li a > div[aria-hidden="true"] svg {
  position: absolute;
  left: 12px;
  top: calc(50% - 10px);
}

.sidebar-menu ul.menus li a.selected, .sidebar-menu ul.menus li a:hover {
  color: #58a3ef;
  text-decoration: none !important;
}

.sidebar-menu ul.menus li a.selected:before, .sidebar-menu ul.menus li a:hover:before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 3px);
  left: 17px;
  width: 10px;
  height: 8px;
  z-index: 4;
  background-repeat: no-repeat;
  background-image: url("../images/checked.svg");
}

.sidebar-menu ul.menus li a .title .protectedPage {
  position: absolute;
  display: block;
  width: 10px;
  height: 15px;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.sidebar-menu ul.menus li a .title .protectedPage:before {
  display: none;
}

.sidebar-menu ul.menus li a .title .protectedPage svg {
  margin: 0 auto;
  fill: #95a5b4;
}

.sidebar-menu ul.menus li a .title .protectedPage i {
  display: none;
}

.sidebar-menu ul.menus ul.dropdown-menu {
  position: static;
  font-size: inherit;
  margin: 0;
  padding: 0 0 0 41px;
  display: none;
  width: 100%;
  border: 0;
  float: none;
  border-radius: 0;
  box-shadow: none;
}

.sidebar-menu__point path {
  fill: #bfccd5;
}

.sidebar-menu__shadow {
  width: 100%;
  position: absolute;
  overflow: hidden;
  height: 40px;
  width: calc(100% - 8px);
  bottom: -17px;
  left: 3px;
}

.sidebar-menu__shadow svg {
  width: 100%;
  height: auto;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.sidebar-menu__shadow svg path {
  fill: #000;
}

.sidebar-menu__paperclip {
  position: absolute;
  left: -149px;
  top: -161px;
  display: block;
  z-index: 6;
  fill: #ee8825;
  transform: rotate(92deg) scaleX(-1);
  pointer-events: none;
}

.sidebar-menu__paperclip--shadow {
  position: absolute;
  left: -140px;
  top: -161px;
  display: block;
  z-index: 4;
  fill: #c0c3c6;
  transform: rotate(98deg) scaleX(-1);
  pointer-events: none;
}

.sidebar-modules .module {
  position: relative;
  margin-bottom: 15px;
  color: #aad4ff;
  line-height: 18px;
}

.sidebar-modules .module a {
  color: currentColor;
  text-decoration: none;
}

.sidebar-modules .module a:hover {
  text-decoration: underline;
}

.sidebar-modules .module:nth-child(4n+1) .module__pin-path--1 {
  fill: #197597;
}

.sidebar-modules .module:nth-child(4n+1) .module__pin-path--2 {
  fill: #1eb3ea;
}

.sidebar-modules .module:nth-child(4n+1) .module__pin-path--3 {
  fill: #0a6789;
}

.sidebar-modules .module:nth-child(4n+1) .module__pin-path--4 {
  fill: #1388b3;
}

.sidebar-modules .module:nth-child(4n+1) .module__pin-path--5 {
  fill: #1eb3ea;
}

.sidebar-modules .module:nth-child(4n+2) .module__pin-path--1 {
  fill: #8c2428;
}

.sidebar-modules .module:nth-child(4n+2) .module__pin-path--2 {
  fill: #ea1e29;
}

.sidebar-modules .module:nth-child(4n+2) .module__pin-path--3 {
  fill: #ac1a1f;
}

.sidebar-modules .module:nth-child(4n+2) .module__pin-path--4 {
  fill: #91282c;
}

.sidebar-modules .module:nth-child(4n+2) .module__pin-path--5 {
  fill: #ea1e29;
}

.sidebar-modules .module:nth-child(4n+3) .module__pin-path--1 {
  fill: #a85b00;
}

.sidebar-modules .module:nth-child(4n+3) .module__pin-path--2 {
  fill: #ea830a;
}

.sidebar-modules .module:nth-child(4n+3) .module__pin-path--3 {
  fill: #a85b00;
}

.sidebar-modules .module:nth-child(4n+3) .module__pin-path--4 {
  fill: #9b5400;
}

.sidebar-modules .module:nth-child(4n+3) .module__pin-path--5 {
  fill: #ea830a;
}

.sidebar-modules .module:nth-child(4n) .module__pin-path--1 {
  fill: #3f813e;
}

.sidebar-modules .module:nth-child(4n) .module__pin-path--2 {
  fill: #41c53e;
}

.sidebar-modules .module:nth-child(4n) .module__pin-path--3 {
  fill: #2e7e2b;
}

.sidebar-modules .module:nth-child(4n) .module__pin-path--4 {
  fill: #2caa29;
}

.sidebar-modules .module:nth-child(4n) .module__pin-path--5 {
  fill: #49e545;
}

.sidebar-modules .module.module--icon:before, .sidebar-modules .module.module--icon:after {
  content: " ";
  display: table;
}

.sidebar-modules .module.module--icon:after {
  clear: both;
}

.sidebar-modules .module.module--icon .module-content {
  float: left;
  padding: 0 7px 0 32px;
  width: calc(100% - 73px);
}

.sidebar-modules .module.module--icon .icon {
  float: left;
  width: 73px;
  height: 73px;
  position: relative;
}

.sidebar-modules .module.module--icon .icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
}

.sidebar-modules .module.module--icon .icon .circle {
  fill: #13477c;
  width: 100%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.sidebar-modules .module.module--icon .icon svg:not(.circle) {
  width: 32px;
  fill: #3a81c9;
  transform: translateX(-45%) translateY(-51%);
}

.sidebar-modules .module.module--icon .icon:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 68px;
  z-index: 3;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #2b65a0;
  transform: translateX(-47%) translateY(-54%);
}

.sidebar-modules .module .module-name {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #58a3ef;
  font-size: 2.1rem;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 0 0 0 33px;
  margin: 8px 0;
}

.sidebar-modules .module .module__pin {
  position: absolute;
  top: 5px;
  right: calc(100% - 24px);
}

.sidebar-modules .module .module-body {
  padding-bottom: 30px;
}

.sidebar-modules .module#mod_programs .icon:first-child {
  display: none !important;
}

.sidebar-modules .module#mod_calendar .icon {
  display: none !important;
}

.sidebar-modules .module#mod_calendar .module-content {
  padding-right: 70px;
}

.sidebar-modules .module#mod_calendar p:first-child {
  margin-bottom: 20px;
}

.sidebar-modules .module#mod_calendar p span {
  display: block;
  font-weight: 700;
}

.sidebar-modules .module#mod_calendar .clock-container {
  width: 68px;
  height: 68px;
  z-index: 3;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.sidebar-modules .module#mod_calendar .clock-container:after {
  content: '';
  display: block;
  position: absolute;
  width: 68px;
  height: 68px;
  z-index: 3;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #2b65a0;
}

.sidebar-modules .module#mod_calendar .clock-container svg {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 46px;
  height: 46px;
  display: block;
  transform: translateX(-50%) translateY(-50%);
}

.sidebar-modules .module#mod_calendar .clock-container svg.clock-container__background {
  position: absolute;
  width: 68px;
  height: 68px;
  right: 3px;
  top: 3px;
  left: auto;
  transform: none;
  z-index: 1;
}

.sidebar-modules .module#mod_calendar p {
  margin: 0;
}

.sidebar-modules .module#mod_login label {
  width: calc(100% - 140px);
  text-align: right;
  padding-right: 20px;
}

.sidebar-modules .module#mod_login input[type="text"], .sidebar-modules .module#mod_login input[type="password"] {
  margin-bottom: 8px;
}

.sidebar-modules .module#mod_login input[type="submit"] {
  margin-left: calc(100% - 140px);
}

.sidebar-modules .module#mod_login .button-wrapper {
  position: relative;
  min-height: 37px;
}

.sidebar-modules .module#mod_login .button-wrapper a {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.sidebar-modules__interlude {
  max-width: 360px;
  display: block;
  margin: 0 auto;
  width: 262px;
  height: 24px;
}

.sidebar-credits {
  margin-top: 20px;
  text-align: center;
  color: #aad4ff;
}

.sidebar-credits a {
  color: currentColor;
  text-decoration: underline;
}

.sidebar-credits a:hover {
  text-decoration: none;
}

.module--special {
  margin: 30px 0;
}

.module--special .sidebar-modules__interlude {
  display: none;
}

.module--special a {
  width: 262px;
  height: 222px;
  display: block;
  position: relative;
  margin: 0 auto;
  text-decoration: none;
  transition: all .3s ease;
}

.module--special a:hover {
  text-decoration: none;
}

.module--special a:hover h2 {
  color: #fff;
}

.module--special a:hover .modules-content__name-background {
  fill: #ee8825;
}

.module--special svg {
  position: absolute;
}

.module--special h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  width: 100%;
  position: absolute;
  font-size: 2.1rem;
  line-height: 24px;
  width: 100%;
  color: #ee8825;
  letter-spacing: 0.5px;
  text-align: center;
  display: block;
  padding: 0 30px;
  left: 0;
  right: 0;
  bottom: 0;
}

.module--special h2 span {
  display: block;
  position: relative;
  text-shadow: none;
  z-index: 6;
  transform: translateY(-25px);
}

@media screen and (max-width: 1199px) {
  .sidebar-menu {
    width: 100%;
  }
  .sidebar-menu:before {
    left: 28px;
  }
  .sidebar-menu ul.menus ul.dropdown-menu {
    padding: 0 0 0 28px;
  }
  .sidebar-menu ul.menus li a {
    min-height: 31px;
    padding: 6px 25px 6px 35px;
  }
  .sidebar-menu ul.menus li a > div[aria-hidden="true"] > svg {
    left: 4px;
  }
  .sidebar-menu ul.menus li a.selected:before, .sidebar-menu ul.menus li a:hover:before {
    left: 10px;
  }
  .sidebar-modules .module#mod_calendar .clock-container {
    top: 40px;
  }
  .sidebar-modules .module.module--icon .module-content {
    width: calc(100% - 50px);
  }
  .sidebar-modules .module.module--icon .icon {
    width: 50px;
    height: 50px;
  }
  .sidebar-modules .module.module--icon .icon:before {
    transform: translateX(-50%) translateY(-50%) scale(0.7);
  }
  .sidebar-modules .module.module--icon .icon .circle {
    width: 50px;
    height: 50px;
  }
  .sidebar-modules .module.module--icon .icon svg:not(.circle) {
    transform: translateX(-50%) translateY(-50%);
    width: 25px;
    height: auto;
  }
  .sidebar-modules__interlude {
    width: 212px;
    height: 19px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .module--special a {
    width: 212px;
    height: 181px;
  }
  .module--special h2 span {
    transform: translateY(-22px);
  }
  .module--special .modules-content__shadow {
    width: 212px;
    height: 176px;
  }
  .module--special .modules-content__image {
    width: 208px;
    height: 173px;
  }
  .module--special .modules-content__name-shadow {
    width: 205px;
    height: 44px;
  }
  .module--special .modules-content__name-background {
    width: 205px;
    height: 39px;
  }
  .module--special .modules-content__paperclip, .module--special .modules-content__paperclip--shadow {
    top: -84px;
  }
}

@media screen and (min-width: 992px) {
  .sidebar-modules .module {
    height: auto !important;
  }
}

@media screen and (max-width: 991px) {
  .sidebar-menu__shadow {
    bottom: -38px;
  }
  .sidebar-modules .module {
    max-width: 360px;
  }
  .sidebar-modules .module#mod_login label {
    text-align: left;
    padding-right: 0;
    width: 60px;
  }
  .sidebar-modules .module#mod_login input[type="submit"] {
    margin-left: 60px;
  }
  .sidebar-modules .module--special {
    display: none !important;
    height: 0 !important;
  }
  .sidebar-modules__interlude--advert {
    position: static !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar-modules {
    font-size: 0;
    text-align: center;
  }
  .sidebar-modules .module {
    text-align: left;
    font-size: 1.3rem;
    width: 320px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 20px;
  }
  .sidebar-modules .module .module-body {
    padding-bottom: 55px;
  }
  .sidebar-modules .module .module__pin {
    right: auto;
    left: -85px;
  }
  .sidebar-modules .module .module-name {
    margin-bottom: 30px;
  }
  .sidebar-modules .module .module-content {
    padding: 0 40px 0 32px;
  }
  .sidebar-modules .module.module--icon .icon {
    position: absolute;
    left: calc(50% - 25px);
    top: 60px;
    width: 73px;
    height: 73px;
  }
  .sidebar-modules .module.module--icon .icon:before {
    transform: translateX(-47%) translateY(-54%);
  }
  .sidebar-modules .module.module--icon .icon .circle {
    width: 73px;
    height: 73px;
  }
  .sidebar-modules .module.module--icon .icon svg:not(.circle) {
    width: 32px;
    height: auto;
    transform: translateX(-45%) translateY(-51%);
  }
  .sidebar-modules .module.module--icon .module-content {
    padding: 80px 32px 0;
  }
  .sidebar-modules .module#mod_calendar .clock-container {
    top: 60px;
    right: calc(50% - 34px);
  }
  .sidebar-modules__interlude {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 320px;
    height: 30px;
  }
}

@media screen and (max-width: 767px) {
  .sidebar-modules .module {
    display: block;
    width: 100%;
    height: auto !important;
    margin: 0 auto;
  }
  .sidebar-modules .module .module-name {
    margin-bottom: 10px;
  }
  .sidebar-modules .module#mod_login fieldset {
    padding-left: 32px;
  }
  .sidebar-modules__interlude {
    position: static;
    width: 360px;
    height: 33px;
  }
}

@media screen and (max-width: 560px) {
  .sidebar-menu__shadow {
    bottom: -25px;
  }
}

@media screen and (max-width: 400px) {
  .sidebar-modules__interlude {
    width: 100%;
    height: auto;
  }
}

.modules-content .module {
  width: 262px;
  height: 222px;
  display: block;
  position: relative;
  margin: 30px auto 0;
  overflow: hidden;
  transition: all .3s ease;
}

.modules-content .module:hover h2 {
  color: #fff;
}

.modules-content .module:hover .modules-content__name-background {
  fill: #ee8825;
}

.modules-content svg {
  position: absolute;
}

.modules-content h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  width: 100%;
  position: absolute;
  font-size: 2.1rem;
  line-height: 24px;
  width: 100%;
  color: #ee8825;
  letter-spacing: 0.5px;
  text-align: center;
  display: block;
  padding: 0 30px;
  left: 0;
  right: 0;
  bottom: 0;
}

.modules-content h2 span {
  display: block;
  position: relative;
  text-shadow: none;
  z-index: 6;
  transform: translateY(-25px);
}

.modules-content a {
  text-decoration: none;
}

.modules-content a:hover {
  text-decoration: none;
}

.modules-content__shadow {
  width: 263px;
  height: 217px;
  z-index: 2;
  left: 0;
  bottom: 0;
  fill: #0f2c4a;
}

.modules-content__image {
  width: 258px;
  height: 215px;
  z-index: 3;
  bottom: 7px;
  left: 2px;
}

.modules-content__name-shadow {
  width: 255px;
  height: 55px;
  z-index: 4;
  bottom: 5px;
  left: 2px;
  fill: #0f2c4a;
}

.modules-content__name-background {
  width: 255px;
  height: 48px;
  z-index: 5;
  bottom: 12px;
  left: 0;
  transition: all .3s ease;
  fill: #e4e8eb;
}

.modules-content__paperclip, .modules-content__paperclip--shadow {
  top: -90px;
  right: -224px;
  pointer-events: none;
}

.modules-content__paperclip {
  z-index: 8;
  fill: #ee8825;
}

.modules-content__paperclip--shadow {
  z-index: 7;
  fill: rgba(0, 0, 0, 0.4);
  transform: rotate(-2deg);
}

@media screen and (min-width: 992px) {
  .modules-content .special {
    display: none !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .modules-content .col-md-4 .module {
    width: 212px;
    height: 181px;
  }
  .modules-content .col-md-4 h2 span {
    transform: translateY(-22px);
  }
  .modules-content .col-md-4 .modules-content__shadow {
    width: 212px;
    height: 176px;
  }
  .modules-content .col-md-4 .modules-content__image {
    width: 208px;
    height: 173px;
  }
  .modules-content .col-md-4 .modules-content__name-shadow {
    width: 205px;
    height: 44px;
  }
  .modules-content .col-md-4 .modules-content__name-background {
    width: 205px;
    height: 39px;
  }
  .modules-content .col-md-4 .modules-content__paperclip, .modules-content .col-md-4 .modules-content__paperclip--shadow {
    top: -84px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .modules-content .col-sm-4 .module {
    width: 212px;
    height: 181px;
  }
  .modules-content .col-sm-4 h2 span {
    transform: translateY(-22px);
  }
  .modules-content .col-sm-4 .modules-content__shadow {
    width: 212px;
    height: 176px;
  }
  .modules-content .col-sm-4 .modules-content__image {
    width: 208px;
    height: 173px;
  }
  .modules-content .col-sm-4 .modules-content__name-shadow {
    width: 205px;
    height: 44px;
  }
  .modules-content .col-sm-4 .modules-content__name-background {
    width: 205px;
    height: 39px;
  }
}

#mod_forum #modForum, #mod_forum .bolder {
  display: none;
}

#mod_contact a[href^="mailto:"] {
  text-decoration: underline;
}

#mod_contact a[href^="mailto:"]:hover {
  text-decoration: none;
}

#mod_login .user-avatar {
  text-align: center;
  margin-bottom: 5px;
}

#mod_login .user-avatar img {
  border: 1px solid #0c3560;
}

#mod_login .user-name {
  text-align: center;
  margin-bottom: 5px;
}

#mod_login .user-name a {
  color: #ee8825;
  text-decoration: underline;
}

#mod_login .user-name a:hover {
  text-decoration: none;
}

#mod_login .button-wrapper a {
  white-space: nowrap;
}

#mod_login fieldset:before, #mod_login fieldset:after {
  content: " ";
  display: table;
}

#mod_login fieldset:after {
  clear: both;
}

#mod_login label {
  text-transform: none;
  float: left;
  line-height: 34px;
  font-weight: 700;
  color: #aad4ff;
}

#mod_login input[type="text"],
#mod_login input[type="password"] {
  float: left;
  width: 140px;
}

#mod_calendar .clock-container__background path {
  fill: #13477c;
}

#mod_calendar2 #calendarNews {
  margin: 20px 0 0 auto;
  position: relative;
  width: 245px;
}

#mod_calendar2 .caption_nav_prev, #mod_calendar2 .caption_nav_next {
  position: absolute;
  top: 0;
  width: 34px;
  height: 35px;
}

#mod_calendar2 .caption_nav_prev a, #mod_calendar2 .caption_nav_next a {
  width: 34px;
  height: 35px;
  display: block;
  border-top: 1px solid #091b2e;
  border-bottom: 1px solid #235180;
  background-color: #264667;
  background-image: url("../images/gradient1.png");
}

#mod_calendar2 .caption_nav_prev a i, #mod_calendar2 .caption_nav_next a i {
  display: none;
}

#mod_calendar2 .caption_nav_prev a:before, #mod_calendar2 .caption_nav_next a:before {
  content: '';
  z-index: 2;
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 9px;
  height: 13px;
  background-repeat: no-repeat;
  background-image: url("../images/arrow-right.svg");
}

#mod_calendar2 .caption_nav_prev {
  left: 0;
}

#mod_calendar2 .caption_nav_next {
  right: 0;
}

#mod_calendar2 .caption_nav_next a:before {
  transform: translateX(-50%) translateY(-50%) rotate(180deg);
}

#mod_calendar2 table {
  width: 245px;
}

#mod_calendar2 table caption {
  line-height: 35px;
  margin: 0 0 13px;
  padding: 0 40px;
  text-align: center;
  font-size: 15px;
}

#mod_calendar2 table th {
  width: 35px;
  height: 35px;
  padding: 0;
  text-align: center;
}

#mod_calendar2 table td {
  width: 35px;
  height: 35px;
  padding: 0;
  text-align: center;
}

#mod_calendar2 table td.pr_day {
  background-color: #122641;
}

#mod_calendar2 table td.imp_day {
  position: relative;
  border: 0;
}

#mod_calendar2 table td.imp_day a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 31px;
  border: 1px solid #0d3259;
  background-color: #aad4ff;
  color: #0c3560 !important;
}

#mod_calendar2 table td.imp_day a:hover {
  text-decoration: none;
  background-color: #0c3560;
  color: #aad4ff !important;
}

#mod_questionnaire {
  font-size: 1.3rem;
}

#mod_questionnaire .module-content {
  padding: 0 0 0 32px;
}

#mod_questionnaire .module-content > p {
  margin: 15px 0 20px;
  color: #aad4ff;
}

#mod_questionnaire br {
  display: none;
}

#mod_questionnaire .button-wrapper {
  margin-top: 20px;
}

#mod_questionnaire span {
  max-width: 200px;
}

#mod_questionnaire form {
  position: relative;
}

#mod_questionnaire form input[type="radio"] {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(1px) translateY(1px);
}

#mod_questionnaire form input[type="radio"] + label {
  position: relative;
  z-index: 2;
  padding-left: 26px;
  line-height: 17px;
  margin: 0 0 10px;
}

#mod_questionnaire form input[type="radio"] + label .radio {
  display: none;
}

#mod_questionnaire form input[type="radio"] + label .label {
  padding: 0;
  font-size: 1.3rem;
  line-height: 15px;
  white-space: normal;
  border-radius: 0;
  color: #aad4ff;
}

#mod_questionnaire form input[type="radio"] + label:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: #58a3ef;
  border-radius: 50%;
  left: 0;
  top: 0;
}

#mod_questionnaire form input[type="radio"] + label:after {
  content: '';
  display: none;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  background-color: #122641;
}

#mod_questionnaire form input[type="radio"]:checked + label:after {
  display: block;
}

#mod_weather .module {
  background: #ebebeb;
}

#mod_weather .module-content {
  text-align: center;
  line-height: 1;
}

#mod_weather .weatherParam ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#mod_weather .weatherParam ul li {
  margin: 0 0 5px 0;
  font-size: 1.3rem;
  padding: 0;
}

#mod_weather .weatherParam .weatherIco {
  margin-top: 15px;
  margin-bottom: 15px;
}

#mod_weather .weatherParam .weatherLoc {
  font-size: 1.8rem;
}

#mod_weather .weatherParam .weatherTemp {
  font-size: 3rem;
  font-weight: bold;
}

#mod_weather .weatherParam .weatherTitle {
  display: none;
}

#mod_weather .weatherParam .weatherSource {
  margin-bottom: 0;
}

@media screen and (max-width: 1199px) {
  #mod_questionnaire span {
    max-width: 150px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  #mod_calendar2 #calendarNews {
    width: 212px;
  }
  #mod_calendar2 table {
    width: 212px;
  }
  #mod_calendar2 table th {
    width: 30px;
    height: 30px;
  }
  #mod_calendar2 table td {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 991px) {
  #mod_questionnaire span {
    max-width: 100%;
  }
  #mod_calendar2 #calendarNews {
    margin-left: auto;
    margin-right: auto;
  }
}

.page-footer {
  margin: 70px 0 0;
  background-color: #0f3b69;
  width: 100%;
}

.page-footer a {
  padding: 15px;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #aad4ff;
  text-decoration: none;
}

.page-footer a:hover {
  text-decoration: underline;
}

.page-footer a.keyboard-outline {
  outline-color: #ee8825 !important;
}

.page-footer .footer__gotop {
  display: none;
}

@media screen and (max-width: 991px) {
  .page-footer a {
    display: none;
  }
  .page-footer .footer__gotop {
    display: block;
  }
}

#advertsLeftWrapper {
  margin: 0;
  text-align: center;
}

#advertsTopWrapper {
  text-align: center;
  margin: 30px 0;
}

#advertsLeftContent {
  padding: 0;
  max-width: 360px;
  margin: 0 auto;
  position: relative;
  color: #aad4ff;
}

#advertsLeftContent a, #advertsLeftContent p {
  color: #aad4ff;
}

#advertsLeftContent a {
  text-decoration: underline;
}

#advertsLeftContent a:hover {
  text-decoration: none;
}

#advertsLeftContent table, #advertsLeftContent table td {
  border-color: #aad4ff;
  color: #aad4ff;
}

.advertLeft a, .advertTop a {
  text-decoration: underline;
}

.advertLeft a:hover, .advertLeft a:focus, .advertTop a:hover, .advertTop a:focus {
  text-decoration: none;
}

.advertLeft {
  padding: 15px 0;
}

.advertTop {
  margin-bottom: 30px;
}

.advertTop iframe, .advertTop object {
  max-width: 100%;
  height: auto;
}

.advertTop img {
  max-width: 700px;
  width: auto !important;
  height: auto !important;
  margin: 5px auto 0;
  display: block;
}

.clock-container {
  border-radius: 50%;
}

img + .delete {
  color: #ee8825;
  margin-left: 5px;
}

#crumbpath {
  padding: 0 0 20px 0;
  color: #aad4ff;
}

#crumbpath a {
  text-decoration: none;
  font-weight: bold;
  color: #aad4ff;
}

#crumbpath a:hover, #crumbpath a:focus {
  text-decoration: underline;
}

#crumbpath ol {
  display: inline;
  margin-bottom: 0;
  vertical-align: top;
}

#crumbpath ol li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

#crumbpath ol li .icon {
  font-size: 12px;
  margin-left: 0;
  margin-right: 10px;
}

.pathSep {
  margin: 0 10px;
}

.here {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

.files-wrapper {
  margin-top: 20px;
}

.search-list, .files-wrapper {
  margin-bottom: 30px;
}

#content_txt {
  background-color: transparent;
  padding-bottom: 100px;
}

#content_txt table {
  margin: 10px 0;
}

#content_txt table caption {
  font-weight: bold;
}

#content_txt .main-text h1, #content_txt .main-text h2, #content_txt .main-text h3, #content_txt .main-text h4, #content_txt .main-text h5, #content_txt .main-text h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #ee8825;
}

#content_txt .main-text h6 {
  font-size: 1.6rem;
}

#content_txt .main-text h5 {
  font-size: 1.8rem;
}

#content_txt .main-text h4 {
  font-size: 2rem;
}

#content_txt .main-text h2 {
  margin: 15px 0;
  font-size: 2.7rem;
}

#content_txt .main-text.location iframe {
  display: block;
  margin: 0 auto;
}

#content_txt .main-text.location iframe + br + small {
  font-weight: bold;
  text-align: center;
  display: block;
}

#content_txt .leadArticle {
  margin-bottom: 20px;
}

#content_txt img {
  overflow: hidden;
  height: auto;
}

#content_txt table {
  width: 100%;
}

#content_txt .authorName {
  margin: 30px 0;
}

#content_txt .authorName span {
  font-weight: bold;
}

#content_txt iframe {
  border: 2px solid #1583a1;
  max-width: 100%;
  box-sizing: border-box;
}

#content_txt .Tweet, #content_txt .FBLike {
  display: inline-block;
  padding: 0;
  width: 77px;
  margin-top: 15px;
  overflow: hidden;
  min-height: 52px;
}

#content_txt .Tweet iframe, #content_txt .FBLike iframe {
  border: none;
}

#content_txt iframe ~ small a, #content_txt iframe ~ small a:visited {
  color: #aad4ff !important;
  text-decoration: none !important;
}

#content_txt iframe ~ small a:hover {
  color: #aad4ff !important;
  text-decoration: underline !important;
}

#content_txt .class-list li {
  margin-bottom: 10px;
  font-size: 1.6rem;
}

#content_txt .class-list li a, #content_txt .class-list li a:visited {
  color: #aad4ff;
  font-weight: bold;
}

#content_txt .class-list li a:hover {
  text-decoration: none;
}

#content_txt .class-list li a:hover span {
  text-decoration: underline;
}

#content_txt .class-list .timetable .txt-err {
  margin-bottom: 0;
}

#content_txt .sitemap {
  margin: 0 0 30px 10px;
  padding: 0 0 0 10px;
  list-style: disc;
}

#content_txt .sitemap .sitemap {
  margin-bottom: 0;
}

#content_txt .sitemap li {
  margin: 10px 0;
  position: relative;
}

#content_txt .sitemap li a, #content_txt .sitemap li a:visited {
  font-weight: bold;
}

#content_txt .sitemap li a:hover, #content_txt .sitemap li a:focus {
  text-decoration: underline;
  color: #e67100;
}

#content_txt .sitemap li .protectedPage {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

#content_txt .sitemap li .protectedPage i {
  display: none;
}

#content_txt .sitemap li .protectedPage svg {
  fill: #356da6;
}

.file_input_div {
  margin-top: 10px;
}

.search-lead {
  border-bottom: 1px solid #1583a1;
  padding-bottom: 15px;
}

.search-lead:empty {
  display: none;
}

.search-text h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.8rem;
  margin: 10px 0;
}

.search-text .protectedPage {
  margin-left: 5px;
  width: 11px;
  height: 16px;
  background-size: auto;
  display: inline-block;
  margin-left: 5px;
}

.search-text .protectedPage:before {
  display: none;
}

.search-text .protectedPage svg {
  margin: 0 auto;
  fill: #356da6;
}

.timetable {
  margin: 10px 0;
}

.timetable caption {
  font-weight: normal;
  padding: 8px 0;
  color: #aad4ff;
  text-transform: uppercase;
}

.timetable-no {
  width: 5%;
}

.timetable-hour {
  width: 15%;
}

.timetable-lesson {
  width: 38%;
}

.timetable-teacher {
  width: 32%;
}

.timetable-room {
  width: 10%;
}

.planLp {
  text-align: center;
}

.planLesson {
  font-weight: bold;
}

.qAnswer {
  float: left;
  margin-top: 10px;
  font-size: 1.3rem;
  width: calc(100% - 62px);
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.qPercent {
  float: right;
  text-align: right;
  margin: 10px 0 0;
  padding: 0;
  color: #58a3ef;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 18px;
}

.qBar {
  background: #ee8825;
  height: 4px;
  margin: 5px 0 15px 0;
}

.questionnaireList input[type="radio"] {
  width: 16px;
  height: 16px;
  margin: 0;
  transform: translateX(1px) translateY(1px);
  padding: 0;
  position: absolute;
}

.questionnaireList input[type="radio"] + label {
  position: relative;
  z-index: 2;
  padding-left: 26px;
  line-height: 17px;
  margin: 0 0 10px;
}

.questionnaireList input[type="radio"] + label .radio {
  display: none;
}

.questionnaireList input[type="radio"] + label .label {
  padding: 0;
  font-size: 1.3rem;
  line-height: 17px;
  white-space: normal;
  border-radius: 0;
  color: #aad4ff;
}

.questionnaireList input[type="radio"] + label:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: #58a3ef;
  border-radius: 50%;
  left: 0;
  top: 0;
}

.questionnaireList input[type="radio"] + label:after {
  content: '';
  display: none;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  background-color: #122641;
}

.questionnaireList input[type="radio"]:checked + label:after {
  display: block;
}

.hide {
  position: absolute;
  top: 0;
  left: -9000em;
  width: 1px;
  height: 1px;
}

.clear {
  clear: both;
  padding: 0;
  margin: 0;
  font-size: 1px;
  line-height: 0;
  height: 0;
}

.noMargin {
  margin: 0;
}

.bolder {
  font-weight: bold;
}

img {
  border: none;
}

.rel {
  position: relative;
}

#jokes {
  margin: 0 0 40px 0;
  padding: 0;
}

#jokes li {
  list-style-type: none;
  margin-bottom: 30px;
  border-bottom: 3px solid #1583a1;
  position: relative;
}

.jokeText {
  padding: 10px;
  color: #aad4ff;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.jokeNick {
  background: none;
  color: #aad4ff;
  text-align: right;
  padding: 5px 10px;
}

.jokeDate {
  color: #aad4ff;
}

#cookiesMsgWrap {
  border-top-color: #aad4ff !important;
  background-color: #0d335a !important;
}

#cookiesMsg {
  width: auto !important;
  padding: 10px !important;
}

#cookiesMsg p {
  color: #aad4ff !important;
  margin: 0;
}

#cookiesMsg a {
  color: #aad4ff !important;
}

#cookiesMsg a:hover {
  text-decoration: underline !important;
}

.video iframe {
  display: block;
  margin: 0 auto;
}

.back-links li {
  margin-bottom: 5px;
}

#backLinks {
  margin: 0;
  padding: 0;
}

#backLinks li {
  list-style-type: none;
}

@media screen and (max-width: 1199px) {
  #content_txt {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 991px) {
  #crumbpath {
    padding: 15px;
  }
  .advertLeft:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  #crumbpath {
    transform: translateX(-15px);
    width: calc(100% + 30px);
  }
  #content_txt img {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 730px) {
  .advertTop img {
    max-width: 100%;
  }
}

#welcome {
  padding: 0 0 20px 0;
}

#welcome blockquote {
  border-left-color: #ee8825;
  padding: 15px;
  font-weight: bold;
  color: #aad4ff;
}

#welcome blockquote p {
  margin: 0;
}

#welcome a {
  color: #ee8825 !important;
  text-decoration: underline;
}

#welcome a:hover, #welcome a:focus {
  text-decoration: none;
}

#welcome table {
  background-color: transparent;
  color: #aad4ff;
  border: 1px solid #aad4ff;
  border-top-width: 0;
}

#welcome table th, #welcome table td {
  color: #aad4ff;
}

.main-text {
  margin-bottom: 40px;
  position: relative;
  z-index: 10;
  font-size: 1.4rem;
}

.main-text .subHead {
  font-size: 2.4rem;
  margin: 0 0 15px 0;
  padding-bottom: 15px;
}

.gallery-wrapper, .article-wrapper {
  margin-top: 15px;
}

.article-wrapper-home {
  position: relative;
}

.article-wrapper-home .article, .article-wrapper .article {
  position: relative;
  margin: 0 0 50px;
}

.article-wrapper-home .article:before, .article-wrapper-home .article:after, .article-wrapper .article:before, .article-wrapper .article:after {
  content: " ";
  display: table;
}

.article-wrapper-home .article:after, .article-wrapper .article:after {
  clear: both;
}

.article-wrapper-home .article .lead-text, .article-wrapper .article .lead-text {
  background-image: url("../images/gradient1.png");
  width: calc(100% - 5px);
  padding: 30px 380px 20px 30px;
  margin-top: 10px;
  min-height: 230px;
  box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  color: #aad4ff;
}

.article-wrapper-home .article .lead-text p, .article-wrapper .article .lead-text p {
  margin: 0;
}

.article-wrapper-home .article .lead-text a, .article-wrapper .article .lead-text a {
  color: #ee8825;
  text-decoration: underline;
}

.article-wrapper-home .article .lead-text a:hover, .article-wrapper .article .lead-text a:hover {
  text-decoration: none;
}

.article-wrapper-home .article .lead-text.no-photo, .article-wrapper .article .lead-text.no-photo {
  width: 100%;
  position: static;
  padding-right: 30px;
  margin-top: 0;
  min-height: 0;
}

.article-wrapper-home .article .photo-wrapper, .article-wrapper .article .photo-wrapper {
  position: absolute;
  width: 360px;
  height: 250px;
  right: 0;
  top: 0;
}

.article-wrapper-home .article .photo-wrapper a, .article-wrapper .article .photo-wrapper a {
  display: block;
  width: 360px;
  height: 250px;
  position: relative;
}

.article-wrapper-home .article .photo-wrapper a .photo-wrapper__paperclip, .article-wrapper-home .article .photo-wrapper a .photo-wrapper__paperclip--shadow, .article-wrapper .article .photo-wrapper a .photo-wrapper__paperclip, .article-wrapper .article .photo-wrapper a .photo-wrapper__paperclip--shadow {
  position: absolute;
  transition: all .3s ease;
  pointer-events: none;
  top: -161px;
  left: -119px;
}

.article-wrapper-home .article .photo-wrapper a .photo-wrapper__paperclip, .article-wrapper .article .photo-wrapper a .photo-wrapper__paperclip {
  z-index: 5;
  fill: #ee8825;
  transform: rotate(-97deg);
}

.article-wrapper-home .article .photo-wrapper a .photo-wrapper__paperclip--shadow, .article-wrapper .article .photo-wrapper a .photo-wrapper__paperclip--shadow {
  z-index: 4;
  fill: rgba(0, 0, 0, 0.4);
  transform: rotate(-99deg);
}

.article-wrapper-home .article .photo-wrapper a:hover .photo-wrapper__paperclip, .article-wrapper-home .article .photo-wrapper a:hover .photo-wrapper__paperclip--shadow, .article-wrapper .article .photo-wrapper a:hover .photo-wrapper__paperclip, .article-wrapper .article .photo-wrapper a:hover .photo-wrapper__paperclip--shadow {
  top: -174px;
}

.article-wrapper-home .article .photo-wrapper a:hover .photo-wrapper__image, .article-wrapper .article .photo-wrapper a:hover .photo-wrapper__image {
  position: relative;
  transition: all .3s ease;
  z-index: 3;
}

.article-wrapper-home .article .photo-wrapper a:hover .photo-wrapper__image:hover, .article-wrapper .article .photo-wrapper a:hover .photo-wrapper__image:hover {
  transform: scale(1.1);
}

.article-wrapper-home .article .photo-wrapper__shadow, .article-wrapper .article .photo-wrapper__shadow {
  position: absolute;
  z-index: 2;
  left: -10px;
  top: 0;
}

.article-wrapper-home .article .photo-wrapper__shadow path, .article-wrapper .article .photo-wrapper__shadow path {
  fill: #000;
}

.article-wrapper-home .article .photo-wrapper__image, .article-wrapper .article .photo-wrapper__image {
  position: relative;
  transition: all .3s ease;
  z-index: 3;
}

.article-wrapper-home .article .lead-main-text, .article-wrapper-home .article .article-title, .article-wrapper .article .lead-main-text, .article-wrapper .article .article-title {
  padding-right: 40px;
}

.article-wrapper-home .article .lead-main-text, .article-wrapper .article .lead-main-text {
  font-weight: 400;
}

.article-wrapper-home .article .article-title, .article-wrapper .article .article-title {
  display: block;
  margin: 0 0 35px;
}

.article-wrapper-home .article .article-title a, .article-wrapper .article .article-title a {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  color: #ee8825;
  font-size: 2.2rem;
  line-height: 26px;
  text-decoration: none;
}

.article-wrapper-home .article .article-title a:hover, .article-wrapper .article .article-title a:hover {
  color: #aad4ff;
  text-decoration: none;
}

.article-wrapper-home .article .article-date, .article-wrapper .article .article-date {
  float: right;
  line-height: 39px;
}

.article-wrapper-home .article .article-date svg, .article-wrapper .article .article-date svg {
  width: 13px;
  height: 13px;
  margin: 0 6px 0 0;
  transform: translateY(2px);
}

.article-wrapper-home .article .article-date svg path, .article-wrapper .article .article-date svg path {
  fill: #2464a5;
}

.article-wrapper-home .article .article-date span, .article-wrapper .article .article-date span {
  color: #58a3ef;
}

.article-wrapper-home .article .icon__protected, .article-wrapper .article .icon__protected {
  margin-left: 5px;
}

.article-wrapper-home .article .icon__protected path, .article-wrapper .article .icon__protected path {
  fill: #ee8825;
}

.article-wrapper-home .article.highlight-article .lead-text, .article-wrapper .article.highlight-article .lead-text {
  border: 4px solid #ee8825;
}

.article-wrapper-home .article.highlight-article .icon__protected path, .article-wrapper .article.highlight-article .icon__protected path {
  fill: #ee8825;
}

.article-wrapper-home .article .article-meta, .article-wrapper .article .article-meta {
  margin: 22px 0 0;
}

.article-wrapper-home .article .article-meta:before, .article-wrapper-home .article .article-meta:after, .article-wrapper .article .article-meta:before, .article-wrapper .article .article-meta:after {
  content: " ";
  display: table;
}

.article-wrapper-home .article .article-meta:after, .article-wrapper .article .article-meta:after {
  clear: both;
}

.article-wrapper-home .article .article-meta .button, .article-wrapper .article .article-meta .button {
  float: left;
  background-image: none;
  background-color: #aad4ff;
  color: #122641 !important;
  text-decoration: none;
  text-transform: capitalize;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.article-wrapper-home .article .article-meta .button svg, .article-wrapper .article .article-meta .button svg {
  transition: all .3s ease;
  transform: translateX(3px) translateY(3px);
}

.article-wrapper-home .article .article-meta .button:hover, .article-wrapper .article .article-meta .button:hover {
  text-decoration: none;
  color: #aad4ff !important;
  background-color: #122641;
  text-shadow: none;
}

.article-wrapper-home .article .article-meta .button:hover svg path, .article-wrapper .article .article-meta .button:hover svg path {
  fill: #aad4ff;
}

@media screen and (max-width: 1199px) {
  .article-wrapper-home .article .lead-main-text, .article-wrapper-home .article .article-title, .article-wrapper .article .lead-main-text, .article-wrapper .article .article-title {
    padding-right: 0;
  }
}

@media screen and (max-width: 991px) {
  .page-content-mobile {
    padding: 30px 0;
    display: block;
  }
  #content {
    margin: 0 0 35px 0;
  }
  .article-wrapper-home .article .lead-text, .article-wrapper .article .lead-text {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .article-wrapper-home .article, .article-wrapper .article {
    margin-top: 140px;
  }
  .article-wrapper-home .article.no-photo, .article-wrapper .article.no-photo {
    margin-top: 0;
  }
  .article-wrapper-home .article.no-photo .lead-text, .article-wrapper .article.no-photo .lead-text {
    padding-top: 20px;
  }
  .article-wrapper-home .article .lead-text, .article-wrapper .article .lead-text {
    padding-top: 100px;
    padding-right: 30px;
  }
  .article-wrapper-home .article .photo-wrapper, .article-wrapper .article .photo-wrapper {
    left: 50%;
    top: -92px;
    transform: translateX(-50%);
    width: 280px;
    height: 194px;
  }
  .article-wrapper-home .article .photo-wrapper a, .article-wrapper .article .photo-wrapper a {
    width: 280px;
    height: 194px;
  }
  .article-wrapper-home .article .photo-wrapper__image, .article-wrapper .article .photo-wrapper__image {
    width: 280px;
    height: 194px;
  }
  .article-wrapper-home .article .article-title, .article-wrapper .article .article-title {
    margin-bottom: 15px;
  }
  .article-wrapper-home .article .article-meta, .article-wrapper .article .article-meta {
    margin-top: 15px;
  }
}

@media screen and (max-width: 400px) {
  .article-wrapper-home .article .article-meta .button, .article-wrapper .article .article-meta .button {
    float: none;
    margin-bottom: 5px;
  }
  .article-wrapper-home .article .article-date, .article-wrapper .article .article-date {
    line-height: 20px;
    float: none;
  }
}

.pagination-wrapper > p {
  color: #aad4ff;
}

.pagination-wrapper ul {
  font-size: 0;
  margin: 0;
  text-align: left;
}

.pagination-wrapper ul li {
  display: inline-block;
  text-align: center;
  width: 34px;
  height: 35px;
  font-size: 1.4rem;
  padding: 0;
  line-height: 33px;
  position: relative;
  margin-right: 10px;
  vertical-align: top;
}

.pagination-wrapper ul li a, .pagination-wrapper ul li span {
  border-top: 1px solid #091b2e;
  border-bottom: 1px solid #235180;
  display: block;
  width: 34px;
  height: 35px;
}

.pagination-wrapper ul li a {
  text-decoration: none !important;
}

.pagination-wrapper ul li a:hover, .pagination-wrapper ul li a:focus {
  text-decoration: none !important;
}

.pagination-wrapper ul li svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  fill: #122641;
}

.pagination-wrapper ul li .btn-page {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  color: #122641;
  background-color: #aad4ff;
}

.pagination-wrapper ul li .btn-page:hover {
  background-color: #122641;
  color: #aad4ff;
  text-decoration: none;
}

.pagination-wrapper ul li .page-active {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  background-color: #122641;
  color: #aad4ff;
}

.pagination-wrapper ul li .btn-next, .pagination-wrapper ul li .btn-prev, .pagination-wrapper ul li .btn-first, .pagination-wrapper ul li .btn-last {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  background-color: #aad4ff;
  color: #122641;
}

.pagination-wrapper ul li .btn-next:link svg, .pagination-wrapper ul li .btn-next:visited svg, .pagination-wrapper ul li .btn-next:focus svg, .pagination-wrapper ul li .btn-prev:link svg, .pagination-wrapper ul li .btn-prev:visited svg, .pagination-wrapper ul li .btn-prev:focus svg, .pagination-wrapper ul li .btn-first:link svg, .pagination-wrapper ul li .btn-first:visited svg, .pagination-wrapper ul li .btn-first:focus svg, .pagination-wrapper ul li .btn-last:link svg, .pagination-wrapper ul li .btn-last:visited svg, .pagination-wrapper ul li .btn-last:focus svg {
  fill: currentColor;
}

.pagination-wrapper ul li .btn-next:hover, .pagination-wrapper ul li .btn-prev:hover, .pagination-wrapper ul li .btn-first:hover, .pagination-wrapper ul li .btn-last:hover {
  background-color: #122641;
  color: #aad4ff;
}

.pagination-wrapper ul li .btn-next:hover svg, .pagination-wrapper ul li .btn-prev:hover svg, .pagination-wrapper ul li .btn-first:hover svg, .pagination-wrapper ul li .btn-last:hover svg {
  fill: #aad4ff;
}

.pagination-wrapper ul li .btn-prev svg, .pagination-wrapper ul li .btn-first svg {
  transform: rotate(180deg) translateX(50%) translateY(50%);
}

.gallery-wrapper .gallery {
  margin-bottom: 30px;
}

.gallery-wrapper .gallery li {
  margin-bottom: 20px;
}

.gallery-wrapper .gallery li:nth-child(2n+1) {
  clear: both;
}

.gallery-wrapper .gallery li a, .gallery-wrapper .gallery li a:visited {
  display: block;
  position: relative;
  z-index: 1;
  width: 360px;
  height: 250px;
  margin: 0 auto;
}

.gallery-wrapper .gallery li a span, .gallery-wrapper .gallery li a:visited span {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-wrapper .gallery li a img, .gallery-wrapper .gallery li a:visited img {
  width: 100%;
  height: auto;
  transition: all .3s ease;
}

.gallery-wrapper .gallery li a .photo-wrapper__paperclip, .gallery-wrapper .gallery li a .photo-wrapper__paperclip--shadow, .gallery-wrapper .gallery li a:visited .photo-wrapper__paperclip, .gallery-wrapper .gallery li a:visited .photo-wrapper__paperclip--shadow {
  position: absolute;
  transition: all .3s ease;
  pointer-events: none;
  top: -161px;
  left: -119px;
}

.gallery-wrapper .gallery li a .photo-wrapper__paperclip, .gallery-wrapper .gallery li a:visited .photo-wrapper__paperclip {
  z-index: 5;
  fill: #ee8825;
  transform: rotate(-97deg);
}

.gallery-wrapper .gallery li a .photo-wrapper__paperclip--shadow, .gallery-wrapper .gallery li a:visited .photo-wrapper__paperclip--shadow {
  z-index: 4;
  fill: rgba(0, 0, 0, 0.4);
  transform: rotate(-99deg);
}

.gallery-wrapper .gallery li a:hover .photo-wrapper__paperclip, .gallery-wrapper .gallery li a:hover .photo-wrapper__paperclip--shadow {
  top: -174px;
}

.gallery-wrapper .gallery li a:hover .gallery-wrapper__image {
  position: relative;
  transition: all .3s ease;
  z-index: 3;
  transform: scale(1.1);
}

.gallery-wrapper .gallery li a:hover .photo-name {
  background-color: #ee8825;
}

.gallery-wrapper .photo-name {
  transition: all .3s ease;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  color: #0d335a;
  background-color: #aad4ff;
  width: 100%;
  padding: 12px 8px;
  font-size: 1.4rem;
  line-height: 16px;
  display: block;
  text-align: center;
  margin: 0;
}

.gallery-wrapper .photo-name:empty {
  display: none;
}

.gallery-wrapper__shadow {
  position: absolute;
  z-index: 2;
  left: -10px;
  top: 0;
}

.gallery-wrapper__shadow path {
  fill: #000;
}

.gallery-wrapper__image {
  position: relative;
  transition: all .3s ease;
  z-index: 3;
}

@media screen and (max-width: 991px) {
  .gallery-wrapper .gallery li a, .gallery-wrapper .gallery li a:visited {
    width: 340px;
    height: 236px;
  }
}

@media screen and (max-width: 400px) {
  .gallery-wrapper .gallery li a, .gallery-wrapper .gallery li a:visited {
    width: 290px;
    height: 201px;
  }
}

.txt_err {
  color: #ee8825;
  border: 2px solid #ee8825;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
  font-weight: bold;
}

.txt_msg {
  color: #0d335a;
  border: 2px solid #attention;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
  font-weight: bold;
}

.txt_com {
  color: #0d335a;
  border: 2px solid #ee8825;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
  font-weight: bold;
}

.txt_err p, .txt_com p, .txt_msg p {
  margin: 0;
}

#content_txt .txt_err a, #content_txt .txt_err a:visited {
  text-decoration: underline;
  color: #ee8825;
}

#content_txt .txt_err a:hover, #content_txt .txt_err a:visited:hover {
  text-decoration: none;
}

#content_txt form {
  margin-top: 20px;
}

.inError {
  border-color: #ee8825 !important;
  background: #fff !important;
  color: #0d335a !important;
}

.inText,
.inTextSmall,
.inTextArea {
  display: block;
  max-width: 340px;
  width: 100%;
}

.inText,
.inTextSmall {
  height: 41px;
}

.inTextArea {
  height: 180px;
}

.anchor {
  position: relative;
  height: 0;
  width: 0;
  top: -60px;
  display: block;
}

.formL {
  width: 150px;
  float: left;
  text-align: right;
  padding: 0 20px 0 0;
  min-height: 34px;
}

.formL label, .formL .label {
  padding: 9px 0 0;
  font-weight: normal;
  margin: 0;
  line-height: 16px;
}

.formR {
  float: right;
  width: calc(100% - 150px);
  margin: 0 0 10px 0;
  position: relative;
}

.formR:before, .formR:after {
  content: " ";
  display: table;
}

.formR:after {
  clear: both;
}

.formR.radio label {
  position: relative;
  padding: 0 20px 0 0;
  display: inline-block;
}

.formR.radio label input[type="radio"] {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 9px;
  left: 1px;
}

.formR.radio label input[type="radio"] + span {
  position: relative;
  z-index: 2;
  margin: 0 0 10px;
  padding: 0 0 0 26px;
  font-size: 1.3rem;
  white-space: normal;
  border-radius: 0;
  color: #aad4ff;
}

.formR.radio label input[type="radio"] + span:before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: #58a3ef;
  border-radius: 50%;
  left: 0;
  top: 0;
}

.formR.radio label input[type="radio"] + span:after {
  content: '';
  display: none;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  background-color: #122641;
}

.formR.radio label input[type="radio"]:checked + span:after {
  display: block;
}

.formR.login {
  padding: 0;
}

.formR p {
  margin: 10px 0;
}

.formR .msgMarg:empty {
  display: none;
}

.formR .button-wrapper {
  margin-bottom: 10px;
}

.msgMarg {
  margin: 5px 0;
  font-size: 1.2rem;
  display: inline-block;
}

.msgError {
  color: #ee8825;
}

#avatar_f {
  position: absolute;
  left: 0;
  top: -8px;
  width: 320px;
  height: 50px;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  cursor: pointer;
}

.forumAvatarImage {
  border: 2px solid #ee8825;
  max-width: 55px !important;
  height: auto !important;
}

.avatarFrameImage {
  border: 2px solid #ee8825;
}

.asterisk {
  color: #ee8825;
  margin-right: 5px;
}

.login {
  padding-top: 5px;
  font-weight: bold;
}

.captchaTxt {
  margin: 0 10px 0 0;
  float: left;
  line-height: 34px;
}

.captchaTxt + input {
  width: 40px;
}

.comment {
  padding: 0;
}

@media screen and (max-width: 639px) {
  .formL {
    width: 135px;
    padding: 0 12px 0 0;
  }
  .formR {
    width: calc(100% - 135px);
  }
}

@media screen and (max-width: 479px) {
  .formL {
    float: none;
    width: auto;
    text-align: left;
    min-height: 0;
    padding: 0 0 5px;
  }
  .formR {
    width: 100%;
    float: none;
  }
  .formR .button-wrapper {
    margin-top: 5px;
  }
  .inText,
  .inTextSmall,
  .inTextArea {
    width: 100%;
  }
  #editForm .clear, #loginForm .clear, #registerForm .clear, #addForm .clear, #delForm .clear {
    display: none;
  }
}

#forumActions {
  float: right;
  margin: 0;
  padding: 0;
}

#forumActions li {
  float: left;
  list-style-type: none;
  margin-left: 5px;
}

.tableTopics {
  width: 100%;
  margin: 10px 0 10px 0;
}

.tableTopics th {
  font-weight: bold;
}

.tableTopics th.topics, .tableTopics th.responds {
  text-align: center;
  width: 80px;
  font-size: 1.083em;
  color: #aad4ff;
  font-weight: bold;
}

.tableTopics td.topics, .tableTopics td.responds {
  text-align: center;
  width: 80px;
  font-size: 1.083em;
  font-weight: bold;
}

#content_txt .topicLink, #content_txt .topicLink:visited {
  font-weight: bold;
  text-decoration: none;
  font-size: 1.083em;
  color: #aad4ff;
  text-decoration: none;
}

#content_txt .topicLink:hover, #content_txt .topicLink:visited:hover {
  text-decoration: underline;
}

.respondButtonList {
  margin: 10px 0;
}

.respondButtonList li {
  list-style-type: none;
  float: left;
  border: none !important;
  margin-right: 10px;
  margin-bottom: 10px;
}

.forum-wrapper .author {
  display: block;
  color: #aad4ff;
  word-wrap: break-word;
  padding-right: 10px;
}

.forum-threads-wrapper {
  margin: 50px 0;
  border-top: 2px solid #1583a1;
  padding: 0 0 25px;
  border-bottom: 2px solid #1583a1;
}

.forum-answers-wrapper {
  margin: 50px 0;
}

.listPosts {
  margin: 0;
  padding: 0;
}

.listPosts li {
  list-style-type: none;
  border-bottom: 2px solid #1583a1;
}

.listPosts > li {
  margin-bottom: 20px;
  padding-bottom: 25px;
}

.topicText, .postText {
  padding: 10px 0;
  position: relative;
}

.topicAuthor, .postAuthor {
  padding: 0 0 10px 0;
  float: left;
  width: 90px;
  position: relative;
  margin: 10px 0 0 0;
}

.topicDate, .postDate {
  position: absolute;
  right: 0;
  top: 20px;
  font-weight: bold;
  color: #aad4ff;
  font-size: 0.92em;
}

.topicHour, .postHour {
  position: absolute;
  right: 0;
  top: 35px;
  font-size: 0.91em;
  color: #aad4ff;
}

.topicContent, .postContent {
  padding: 10px 0 0 0;
  float: left;
  width: 530px;
  color: #aad4ff;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.cita {
  position: relative;
}

.citaStart {
  display: block;
  width: 34px;
  height: 33px;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.citaEnd {
  display: block;
  width: 34px;
  height: 33px;
  position: absolute;
  right: 0;
  top: -10px;
}

.citaBlock {
  font-style: italic;
  margin: 10px 50px 20px 50px;
  color: #aad4ff;
  font-size: 1.3rem;
}

@media screen and (max-width: 767px) {
  .forum-threads-wrapper {
    margin: 30px 0;
  }
  .forum-answers-wrapper {
    margin: 30px 0;
  }
}
