#welcome {
    padding: 0 0 20px 0;
    blockquote {
        border-left-color: $attention;
        padding: 15px;
        font-weight: bold;
        color: $color1;
        p {
            margin: 0;
        }
    }
    a {
        color: $attention !important;
        text-decoration: underline;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    table {
        background-color: transparent;
        color: $color1;
        border: 1px solid $color1;
        border-top-width: 0;
        th, td {
            color: $color1;
        }
    }
}

.main-text {
    margin-bottom: 40px;
    position: relative;
    z-index: 10;
    font-size: 1.4rem;
    .subHead {
        font-size: 2.4rem; 
        margin: 0 0 15px 0; 
        padding-bottom: 15px;
    }
}

.gallery-wrapper, .article-wrapper {
    margin-top: 15px;
}

.article-wrapper-home {
    position: relative;
}

.article-wrapper-home, .article-wrapper {
    .article {
        @include clearfix();
        position: relative;
        margin: 0 0 50px;
        .lead-text {
            background-image: url('../images/gradient1.png');
            width: calc(100% - 5px);
            padding: 30px 380px 20px 30px;
            margin-top: 10px;
            min-height: 230px;
            box-shadow: inset 0px 0px 15px 0px rgba(0,0,0, 0.2); 
            color: $color1;
            p {
                margin: 0;
            }
            a {
                color: $attention;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
            &.no-photo {
                width: 100%;
                position: static;
                padding-right: 30px;
                margin-top: 0;
                min-height: 0;
            }
        }
        .photo-wrapper {
            position: absolute;
            width: 360px;
            height: 250px;
            right: 0;
            top: 0;
            a {
                display: block;
                width: 360px;
                height: 250px;
                position: relative;
                .photo-wrapper__paperclip, .photo-wrapper__paperclip--shadow {
                    position: absolute;
                    transition: all .3s ease;
                    pointer-events: none;
                    top: -161px;
                    left: -119px;
                }
                .photo-wrapper__paperclip {
                    z-index: 5;
                    fill: $attention;
                    transform: rotate(-97deg);
                }
                .photo-wrapper__paperclip--shadow {
                    z-index: 4;
                    fill: rgba(0,0,0,0.4);
                    transform: rotate(-99deg);
                }
                &:hover {
                    .photo-wrapper__paperclip, .photo-wrapper__paperclip--shadow {
                        top: -174px;
                    }
                    .photo-wrapper__image {
                        position: relative;
                        transition: all .3s ease;
                        z-index: 3;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
        .photo-wrapper__shadow {
            position: absolute;
            z-index: 2;
            left: -10px;
            top: 0;
            path {
                fill: #000;
            }
        }
        .photo-wrapper__image {
            position: relative;
            transition: all .3s ease;
            z-index: 3;
        }
        .lead-main-text, .article-title {
            padding-right: 40px;
        }
        .lead-main-text {
            font-weight: 400;
        }
        .article-title {
            display: block;
            margin: 0 0 35px;
            a {
                @include bold();
                color: $attention;
                font-size: 2.2rem;
                line-height: 26px;
                text-decoration: none;
                &:hover {
                    color: $color1;
                    text-decoration: none;
                }
            }
        }
        .article-date {
            float: right;
            line-height: 39px;
            svg {
                width: 13px;
                height: 13px;
                margin: 0 6px 0 0;
                transform: translateY(2px);
                path {
                    fill: rgb(36, 100, 165);
                }
            }
            span {
                color: #58a3ef;
            }
        }
        .icon__protected {
            margin-left: 5px;
            path {
                fill: $attention;
            }
        }
        &.highlight-article {
            .lead-text {
                border: 4px solid $attention;
            }
            .icon__protected {
                path {
                   fill: $attention;
                }
            }
        }
        .article-meta {
            @include clearfix();
            margin: 22px 0 0;
            .button {
                float: left;
                background-image: none;
                background-color: $color1;
                color: #122641 !important;
                text-decoration: none;
                text-transform: capitalize;
                text-shadow: 0px 1px 0px rgba(255,255,255, 0.2);
                svg {
                    transition: all .3s ease;
                    transform: translateX(3px) translateY(3px);
                }
                &:hover {
                    text-decoration: none;
                    color: $color1 !important;
                    background-color: #122641;
                    text-shadow: none;
                    svg {
                        path {
                            fill: $color1;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1199px) {
    .article-wrapper-home, .article-wrapper {
        .article {
            .lead-main-text, .article-title {
                padding-right: 0;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .page-content-mobile {
        padding: 30px 0; 
        display: block;
    }
    #content {
        margin: 0 0 35px 0;
    }
    .article-wrapper-home, .article-wrapper {
        .article {
            .lead-text {
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .article-wrapper-home, .article-wrapper {
        .article {
            margin-top: 140px;
            &.no-photo {
                margin-top: 0;
                .lead-text {
                    padding-top: 20px;
                }
            }
            .lead-text {
                padding-top: 100px;
                padding-right: 30px;
            }
            .photo-wrapper {
                left: 50%;
                top: -92px;
                transform: translateX(-50%);
                width: 280px;
                height: 194px;
                a {
                    width: 280px;
                    height: 194px;
                }
            }
            .photo-wrapper__image {
                width: 280px;
                height: 194px;
                
            }
            .article-title {
                margin-bottom: 15px;
            }
            .article-meta {
                margin-top: 15px;
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .article-wrapper-home, .article-wrapper {
        .article {
            .article-meta {
                .button {
                    float: none;
                    margin-bottom: 5px;
                }
            }
            .article-date {
                line-height: 20px;
                float: none;
            }
        }
    }
}