.page-footer {
	margin: 70px 0 0;
	background-color: #0f3b69;
	width: 100%;
	a {
		padding: 15px;
		display: block;
		text-align: center;
		font-size: 15px;
		font-weight: 400;
		color: $color1;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&.keyboard-outline {
			outline-color: $attention !important;
		}
	}
	.footer__gotop {
		display: none;
	}
}
@media screen and (max-width: 991px) {
	.page-footer {
		a {
			display: none;
		}
		.footer__gotop {
			display: block;
		}
	}
}