.txt_err {
    color: $attention;
    border: 2px solid $attention;
    text-align: center; 
    padding: 10px; 
    margin-bottom: 20px; 
    background: #fff; 
    font-weight: bold;
}
.txt_msg {
    color: $base; 
    border: 2px solid #attention; 
    text-align: center; 
    padding: 10px; 
    margin-bottom: 20px; 
    background: #fff; 
    font-weight: bold;
}
.txt_com {
    color: $base; 
    border: 2px solid $attention; 
    text-align: center; 
    padding: 10px; 
    margin-bottom: 20px; 
    background: #fff; 
    font-weight: bold;
}
.txt_err, .txt_com, .txt_msg {
    p {
        margin: 0;
    }
}
#content_txt {
    .txt_err {
        a, a:visited {
            text-decoration: underline;
            color: #ee8825;
            &:hover {
                text-decoration: none;
            }
        }
    }
    form {
        margin-top: 20px;
    }
}
.inError {
    border-color: #ee8825 !important; 
    background: #fff !important;
    color: $base !important;
}
.inText,
.inTextSmall,
.inTextArea {
    display: block;
    max-width: 340px;
    width: 100%;
}
.inText,
.inTextSmall {
    height: 41px;
}
.inTextArea {
    height: 180px;
}
.anchor {
    position: relative; 
    height: 0; 
    width: 0; 
    top: -60px; 
    display: block;
}

.formL {
    width: 150px; 
    float: left; 
    text-align: right; 
    padding: 0 20px 0 0;
    min-height: 34px;
    label, .label {
        padding: 9px 0 0;
        font-weight: normal;
        margin: 0;
        line-height: 16px;
    }
}
.formR {
    @include clearfix();
    float: right;
    width: calc(100% - 150px); 
    margin: 0 0 10px 0; 
    position: relative;
    &.radio {
        label {
            position: relative;
            padding: 0 20px 0 0;
            display: inline-block;
            input[type="radio"] {
                width: 16px;
                height: 16px;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 9px;
                left: 1px;
                & + span {
                    position: relative;
                    z-index: 2;
                    margin: 0 0 10px;
                    padding: 0 0 0 26px;
                    font-size: 1.3rem;
                    white-space: normal;
                    border-radius: 0;
                    color: $color1;
                    &:before {
                        content: '';
                        display: block;
                        width: 16px;
                        height: 16px;
                        position: absolute;
                        background-color: #58a3ef;
                        border-radius: 50%;
                        left: 0;
                        top: 0;
                    }
                    &:after {
                        content: '';
                        display: none;
                        border-radius: 50%;
                        position: absolute;
                        left: 5px;
                        top: 5px;
                        width: 6px;
                        height: 6px;
                        background-color: #122641;
                    }
                }
                &:checked {
                    & + span {
                        &:after {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    &.login {
        padding: 0;
    }
    p {
        margin: 10px 0;
    }
    .msgMarg:empty {
        display: none;
    }
    .button-wrapper {
        margin-bottom: 10px;
    }
}
.msgMarg {
    margin: 5px 0; 
    font-size: 1.2rem; 
    display: inline-block;
} 
.msgError {
    color: $attention;
}
#avatar_f {
    position: absolute; 
    left: 0; 
    top: -8px; 
    width: 320px; 
    height: 50px; 
    filter:alpha(opacity=0); 
    -ms-filter: "alpha(opacity=0)"; 
    -khtml-opacity:0; 
    -moz-opacity:0; 
    opacity:0; 
    cursor: pointer;
}

.forumAvatarImage {
    border: 2px solid $attention; 
    max-width: 55px !important; 
    height: auto !important;
}
.avatarFrameImage {
    border: 2px solid $attention;
}

.asterisk {
    color: $attention;
    margin-right: 5px;
}
.login {
    padding-top: 5px; 
    font-weight: bold;
}
.captchaTxt {
    margin: 0 10px 0 0;
    float: left;
    line-height: 34px;
    & + input {
        width: 40px;
    }
}
.comment {
    padding: 0;
}
@media screen and (max-width: 639px) {
    .formL {
        width: 135px;
        padding: 0 12px 0 0;
    }
    .formR {
        width: calc(100% - 135px);
    }
}
@media screen and (max-width: 479px) {
    .formL {
        float: none; 
        width: auto; 
        text-align: left;
        min-height: 0;
        padding: 0 0 5px;
    }
    .formR {
        width: 100%;
        float: none;
        .button-wrapper {
            margin-top: 5px;
        }
    }
    .inText,
    .inTextSmall,
    .inTextArea {
        width: 100%;
    }
    #editForm, #loginForm, #registerForm, #addForm, #delForm {
        .clear {
            display: none;
        }
    }
}