#forumActions {
	float: right;
	margin: 0;
	padding: 0;
	li {
		float: left;
		list-style-type: none;
		margin-left: 5px;
	}
}

.tableTopics {
	width: 100%;
	margin: 10px 0 10px 0;
	th {
		font-weight: bold;
		&.topics, &.responds {
			text-align: center;
			width: 80px;
			font-size: 1.083em;
			color: $color1;
			font-weight: bold;
		}
	}
	td {
		&.topics, &.responds {
			text-align: center;
			width: 80px;
			font-size: 1.083em;
			font-weight: bold;
		}
	}

}
#content_txt {
	.topicLink, .topicLink:visited {
		font-weight: bold;
		text-decoration: none;
		font-size: 1.083em;
		color: $color1;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.respondButtonList {
	margin: 10px 0;
	li {
		list-style-type: none;
		float: left;
		border: none !important;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}

.forum-wrapper .author {
	display: block;
	color: $color1;
	word-wrap: break-word;
	padding-right: 10px;
}
.forum-threads-wrapper {
	margin: 50px 0;
	border-top: 2px solid #1583a1;
	padding: 0 0 25px;
	border-bottom: 2px solid #1583a1;
}
.forum-answers-wrapper {
	margin: 50px 0;
}

.listPosts {
	margin: 0;
	padding: 0;
	li {
		list-style-type: none;
		border-bottom: 2px solid #1583a1;
	}
	& > li {
		margin-bottom: 20px;
		padding-bottom: 25px;
	}
}
.topicText, .postText {
	padding: 10px 0;
	position: relative
}
.topicAuthor, .postAuthor {
	padding: 0 0 10px 0;
	float: left;
	width: 90px;
	position: relative;
	margin: 10px 0 0 0;
}
.topicDate, .postDate {
	position: absolute;
	right: 0;
	top: 20px;
	font-weight: bold;
	color: $color1;
	font-size: 0.92em
}
.topicHour, .postHour {
	position: absolute;
	right: 0;
	top: 35px;
	font-size: 0.91em;
	color: $color1;
}
.topicContent, .postContent {
	padding: 10px 0 0 0;
	float: left;
	width: 530px;
	color: $color1;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.cita {
	position: relative
}
.citaStart {
	display: block;
	width: 34px;
	height: 33px;
	position: absolute;
	left: 0;
	bottom: -10px
}
.citaEnd {
	display: block;
	width: 34px;
	height: 33px;
	position: absolute;
	right: 0;
	top: -10px
}
.citaBlock {
	font-style: italic;
	margin: 10px 50px 20px 50px;
	color: $color1;
	font-size: 1.3rem;
}
@media screen and (max-width: 767px) {
    .forum-threads-wrapper {
    	margin: 30px 0;
   	}
    .forum-answers-wrapper {
    	margin: 30px 0;
	}
}