.gallery-wrapper {
    .gallery {
        margin-bottom: 30px;
        li {
            margin-bottom: 20px;
            &:nth-child(2n+1) {
                clear: both;
            }
            a, a:visited {
                display: block;
                position: relative;
                z-index: 1;
                width: 360px;
                height: 250px;
                margin: 0 auto;
                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }
                img {
                    width: 100%;
                    height: auto;
                    transition: all .3s ease;
                }
                .photo-wrapper__paperclip, .photo-wrapper__paperclip--shadow {
                    position: absolute;
                    transition: all .3s ease;
                    pointer-events: none;
                    top: -161px;
                    left: -119px;
                }
                .photo-wrapper__paperclip {
                    z-index: 5;
                    fill: $attention;
                    transform: rotate(-97deg);
                }
                .photo-wrapper__paperclip--shadow {
                    z-index: 4;
                    fill: rgba(0,0,0,0.4);
                    transform: rotate(-99deg);
                }
            }
            a:hover {
                .photo-wrapper__paperclip, .photo-wrapper__paperclip--shadow {
                    top: -174px;
                }
                .gallery-wrapper__image {
                    position: relative;
                    transition: all .3s ease;
                    z-index: 3;
                    transform: scale(1.1);
                }
                .photo-name {
                    background-color: $attention;
                }
            }
        }
    }
    .photo-name {
        transition: all .3s ease;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 4;
        color: $base;
        background-color: $color1;
        width: 100%;
        padding: 12px 8px;
        font-size: 1.4rem;
        line-height: 16px;
        display: block;
        text-align: center;
        margin: 0;
        &:empty {
            display: none;
        }
    }
}
.gallery-wrapper__shadow {
    position: absolute;
    z-index: 2;
    left: -10px;
    top: 0;
    path {
        fill: #000;
    }
}
.gallery-wrapper__image {
    position: relative;
    transition: all .3s ease;
    z-index: 3;
}
@media screen and (max-width: 991px) {
    .gallery-wrapper {
        .gallery {
            li {
                a, a:visited {
                    width: 340px;
                    height: 236px;
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .gallery-wrapper {
        .gallery {
            li {
                a, a:visited {
                    width: 290px;
                    height: 201px;
                }
            }
        }
    }
}