.header {
	position: relative;
	min-height: 472px;
	background-image: url('../images/header/background.jpg');
	background-size: cover;
	padding: 13px 0 6px;
}
#banner {
	height: 453px;
	.carousel-content {
		.banner-photo {
			height: 453px;
		}
	}
	.banner-photo {
		width: 847px;
		height: 453px;
		margin: 0 auto;
		position: relative;
		svg {
			position: absolute;
			display: block;
			width: 847px;
			left: 0;
			&:not(.shadow) {
				bottom: 14px;
				z-index: 2;
				height: 439px;
			}
			&.shadow {
				top: 20px;
				height: 431px;
			}
		}
	}
}
.header__address {
	margin-bottom: 15px;
	font-size: 1.4rem;
	line-height: 18px;
	margin-left: 23px;
	color: #fff;
	p, a {
		margin: 0;
	}
	a {
		color: currentColor;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.header__title {
	background-image: url('../images/header/title-shadow.svg');
	background-size: cover;
	width: 435px;
	position: relative;
	z-index: 9;
	padding-bottom: 10px;
	margin: 50px 0 13px;
	p {
		@include bold();
		color: #0c3560;
		font-size: 2.9rem;
		margin: 0;
		width: calc(100% + 10px);
		transform: translateX(-5px);
		line-height: 34px;
		background-image: url('../images/header/title.svg');
		background-size: cover;
		padding: 31px 57px 39px 29px;
		text-shadow: 0px 1px 0px rgba(255,255,255,0.3); 
	}
}
@media screen and (max-width: 1199px) {
	#banner {
		margin-top: 40px;
		height: 372px;
		.carousel-content {
			.banner-photo {
				height: 372px;
			}
		}
		.banner-photo {
			width: 697px;
			height: 372px;
			position: relative;
			svg {
				position: absolute;
				display: block;
				width: 697px;
				left: 0;
				&:not(.shadow) {
					bottom: 14px;
					z-index: 2;
					height: 358px;
				}
				&.shadow {
					top: 20px;
					height: 350px;
				}
			}
		}
	}
	.header__title {
		margin-top: 10px;
	}
}
@media screen and (max-width: 991px) {
	.header {
		margin-top: 50px;
		padding: 0;
		.container {
			width: 100%;
		}
	}
	#banner {
		margin: 25px auto;
	}
	.header__title {
		float: left;
		margin: 0;
	}
	.header__address {
		float: right;
		margin-left: 0;
		width: calc(100% - 455px);
	}
}
@media screen and (max-width: 767px) {
	.header__title, .header__address {
		max-width: 570px;
		margin: 0 auto 5px;
		float: none;
		width: calc(100% - 30px);
	}
	.header__address {
		text-align: center;
		margin-bottom: 15px;
	}
	#banner {
		height: 321px;
		.carousel-content {
			.banner-photo {
				height: 321px;
			}
		}
		.banner-photo {
			width: 580px;
			height: 321px;
			svg {
				width: 580px;
				&:not(.shadow) {
				bottom: 14px;
				z-index: 2;
				height: 313px;
				}
				&.shadow {
					top: 20px;
					height: 305px;
				}
			}
		}
	}
}
@media screen and (max-width: 639px) {
	#banner {
		height: 225px;
		.carousel-content {
			.banner-photo {
				height: 225px;
			}
		}
		.banner-photo {
			width: 420px;
			height: 225px;
			svg {
				width: 420px;
				&:not(.shadow) {
					height: 217px;
				}
				&.shadow {
					height: 209px;
				}
			}
		}
	}
	.header__title, .header__address {
		max-width: 400px;
	}
}
@media screen and (max-width: 479px) {
	#banner {
		height: 191px;
		.carousel-content {
			.banner-photo {
				height: 191px;
			}
		}
		.banner-photo {
			width: 356px;
			height: 191px;
			svg {
				width: 356px;
				&:not(.shadow) {
					height: 184px;
				}
				&.shadow {
					height: 177px;
				}
			}
		}
	}
	.header__title, .header__address {
		max-width: 340px;
		p {
			font-size: 2rem;
			line-height: 24px;
			padding: 15px;
		}
	}
}
@media screen and (max-width: 399px) {
	#banner {
		height: 145px;
		.carousel-content {
			.banner-photo {
				height: 145px;
			}
		}
		.banner-photo {
			width: 270px;
			height: 145px;
			svg {
				width: 270px;
				&:not(.shadow) {
					height: 138px;
				}
				&.shadow {
					height: 130px;
				}
			}
		}
	}
	.header__title, .header__address {
		max-width: 250px;
	}
}
