.menu-top {
    border-top: 1px solid #0f3b69;
    border-bottom: 1px solid #0f3b69;
    background: $base;
    background: -moz-linear-gradient(top, rgba(13,48,85,1) 0%, rgba(14,53,93,1) 100%); 
    background: -webkit-linear-gradient(top, rgba(13,48,85,1) 0%, rgba(14,53,93,1) 100%);  
    background: linear-gradient(to bottom, rgba(13,48,85,1) 0%, rgba(14,53,93,1) 100%); 
    .holder {
        & > ul {
            margin: 0 auto;
            text-align: center;
            & > li {
                display: inline-block;
                font-size: 0;
                padding-top: 1px;
                & > a {
                    display: block;
                }
                & > .dropdown-menu {
                    padding: 0;
                    margin: 0;
                    box-shadow: none;
                    border: 0;
                    border-radius: 0;
                    background-color: #13477c;
                    border-bottom: 4px solid rgba(0,0,0,0.4);
                    a {
                        &:hover, &.selected {
                            background-color: $base;
                        }
                    }
                }
            }
            a {
                color: $color1;
                font-size: 1.5rem;
                line-height: 19px;
                padding: 15px 17px;
                &:hover, &.selected {
                    background-color: #13477c;
                    color: $color1;
                    text-decoration: none;
                }
            }
        }
    }
    .icon-protected {
        transform: translateY(3px);
        width: 10px;
        height: 16px;
        display: inline-block;
        margin-left: 5px;
        &:before {
            display: none;
        }
        svg {
            margin: 0 auto; 
            fill: #356da6;
        }
    }
    .protectedPage {
        i + div {
            & > svg {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 991px) {
    .menu-top {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;
        border: 0;
        .holder {
            & > ul {
                & > li {
                    width: 100%;
                    display: block;
                    padding-top: 0;
                    &:last-child {
                        border-bottom: 1px solid #0f2139;
                    }
                    & > .dropdown-menu {
                        position: static;
                        float: none;   
                        text-align: center;
                        border-bottom-width: 0;
                        a {
                            &:hover, &.selected {
                                background-color: $base + #333;
                            }
                        }
                    }
                }
            }
        }
    }
}