#advertsLeftWrapper {
	margin: 0; 
	text-align: center;
}
#advertsTopWrapper {
	text-align: center;
	margin: 30px 0;
}
#advertsLeftContent {
	padding: 0;
	max-width: 360px;
	margin: 0 auto;
	position: relative;
	color: $color1;
	a, p {
		color: $color1;
	}
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	table, table td {
		border-color: $color1;
		color: $color1;
	}
}
.advertLeft, .advertTop {
	a {
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}
.advertLeft {
	padding: 15px 0;
}
.advertTop {
	margin-bottom: 30px;
	iframe, object {
		max-width: 100%; 
		height: auto;
	}
	img {
		max-width: 700px;
		width: auto !important;
		height: auto !important;
		margin: 5px auto 0;
		display: block;
	}
}
.clock-container {
	border-radius: 50%;
}
img + .delete {
	color: $attention;
	margin-left: 5px;
}
#crumbpath {
	padding: 0 0 20px 0; 
	color: $color1;
	a {
		text-decoration: none; 
		font-weight: bold;
		color: $color1;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}
	ol {
	    display: inline;
	    margin-bottom: 0;
	    vertical-align: top;
		li {
		    display: inline;
		    padding-left: 5px;
		    padding-right: 5px;
			.icon {
			    font-size: 12px;
			    margin-left: 0;
			    margin-right: 10px;
			}
		}
	}
}
.pathSep {
	margin: 0 10px;
}
.here {
	display: inline-block; 
	vertical-align: top; 
	margin-right: 15px;
}
.files-wrapper {
	margin-top: 20px;
}
.search-list, .files-wrapper {
	margin-bottom: 30px;
}
#content_txt {
	background-color: transparent;
	padding-bottom: 100px;
	table {
		margin: 10px 0;
		caption {
			font-weight: bold;
		}
	}
	.main-text {
		h1, h2, h3, h4, h5, h6 {
			@include bold();
			color: $attention;
		}
		h6 {
			font-size: 1.6rem;
		}
		h5 {
			font-size: 1.8rem;
		}
		h4 {
			font-size: 2rem;
		}
		h2 {
			margin: 15px 0;
			font-size: 2.7rem;
		}
		&.location {
			iframe {
				display: block; 
				margin: 0 auto;
				& + br + small {
					font-weight: bold;
					text-align: center;
					display: block;
				}
			}
		}
	}
	.leadArticle {
		margin-bottom: 20px;
	}	
    img {
        overflow: hidden; 
        height: auto;
    }
    table {
        width: 100%;
    }
    .authorName {
        margin: 30px 0;
    }
    .authorName span {
        font-weight: bold;
    }
    iframe {
        border: 2px solid #1583a1; 
        max-width: 100%; 
        box-sizing: border-box;
    }
    .Tweet, .FBLike {
        display: inline-block;
        padding: 0;
        width: 77px;
        margin-top: 15px;
        overflow: hidden;
        min-height: 52px;
        iframe {
            border: none;
        }
    }
    iframe ~ small {
        a, a:visited {
            color: $color1 !important; 
            text-decoration: none !important;
        }
        a:hover {
            color: $color1 !important; 
            text-decoration: underline !important;
        }
    }
    .class-list {
        li {
            margin-bottom: 10px; 
            font-size: 1.6rem;
            a, a:visited {
                color: $color1;
                font-weight: bold;
            }
            a {
                &:hover {
                    text-decoration: none;
                    span {
                        text-decoration: underline;
                    }
                }
            }
        }
        .timetable {
            .txt-err {
                margin-bottom: 0;
            }
        }
    }
    .sitemap {
        margin: 0 0 30px 10px;
        padding: 0 0 0 10px;
        list-style: disc;
        .sitemap {
            margin-bottom: 0;
        }
        li {
            margin: 10px 0;
            position: relative;
            a, a:visited {
                font-weight: bold;
            }
            a {
                &:hover, &:focus {
                    text-decoration: underline;
                    color: #e67100;
                }
            }
            .protectedPage {
                margin-left: 5px;
                display: inline-block;
                vertical-align: middle;
                i {
                    display: none;
                }
                svg {
                	fill: #356da6;
                }
            }
        }
    }
}
.file_input_div {
	margin-top: 10px;
}
.search-lead {
	border-bottom: 1px solid #1583a1;
	padding-bottom: 15px;
	&:empty {
		display: none;
	}
}
.search-text {
	h3 {
		@include bold();
		font-size: 1.8rem;
		margin: 10px 0;
	}
	.protectedPage {
		margin-left: 5px;
		width: 11px;
		height: 16px;
		background-size: auto;
		display: inline-block;
		margin-left: 5px;
		&:before {
            display: none;
        }
        svg {
            margin: 0 auto; 
            fill: #356da6;
        }
	}
}
.timetable {
	margin: 10px 0;
	caption {
		font-weight: normal; 
		padding: 8px 0;  
		color: $color1;
		text-transform: uppercase;
	}
}
.timetable-no {
	width: 5%;
}
.timetable-hour {
	width: 15%;
}
.timetable-lesson {
	width: 38%;
}
.timetable-teacher {
	width: 32%;
}
.timetable-room {
	width: 10%;
}
.planLp {
	text-align: center;
}
.planLesson {
	font-weight: bold;
}
.qAnswer {
	float: left;
	margin-top: 10px;
	font-size: 1.3rem;
	width: calc(100% - 62px);
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.qPercent {
	float: right;
	text-align: right;
	margin: 10px 0 0;
	padding: 0;
	color: #58a3ef;
	@include bold();
	font-size: 2.5rem;
	line-height: 18px;
}
.qBar {
	background: $attention;
	height: 4px;
	margin: 5px 0 15px 0;
}
.questionnaireList {
	input[type="radio"] {
		width: 16px;
		height: 16px;
		margin: 0;
		transform: translateX(1px) translateY(1px);
		padding: 0;
		position: absolute;
		& + label {
			position: relative;
			z-index: 2;
			padding-left: 26px;
			line-height: 17px;
			margin: 0 0 10px;
			.radio {
				display: none;
			}
			.label {
				padding: 0;
				font-size: 1.3rem;
				line-height: 17px;
				white-space: normal;
				border-radius: 0;
				color: $color1;
			}
			&:before {
				content: '';
				display: block;
				width: 16px;
				height: 16px;
				position: absolute;
				background-color: #58a3ef;
				border-radius: 50%;
				left: 0;
				top: 0;
			}
			&:after {
				content: '';
				display: none;
				border-radius: 50%;
				position: absolute;
				left: 5px;
				top: 5px;
				width: 6px;
				height: 6px;
				background-color: #122641;
			}
		}
		&:checked {
			& + label {
				&:after {
					display: block;
				}
			}
		}
	}
}
.hide {
	position: absolute;
	top: 0;
	left: -9000em;
	width: 1px;
	height: 1px;
}
.clear {
	clear: both;
	padding: 0;
	margin: 0;
	font-size: 1px;
	line-height: 0;
	height: 0;
}
.noMargin {
	margin: 0;
}
.bolder {
	font-weight: bold;
}
img {
	border: none;
}
.rel {
	position: relative;
}

#jokes {
	margin: 0 0 40px 0;
	padding: 0;
	li {
		list-style-type: none;
		margin-bottom: 30px;
		border-bottom: 3px solid #1583a1;
		position: relative;
	}
}
.jokeText {
	padding: 10px;
	color: $color1;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
.jokeNick {
	background: none;
	color: $color1;
	text-align: right;
	padding: 5px 10px;
}
.jokeDate {
	color: $color1;
}
#cookiesMsgWrap {
	border-top-color: $color1 !important;
	background-color: $base !important;
}
#cookiesMsg {
	width: auto !important; 
	padding: 10px !important;
	p {
		color: $color1 !important;
		margin: 0;
	}
	a {
		color: $color1 !important;
		&:hover {
			text-decoration: underline !important;
		}
	}
}
.video {
	iframe {
		display: block;
		margin: 0 auto;
	}
}
.back-links li {
	margin-bottom: 5px;
}

#backLinks {
	margin: 0; 
	padding: 0;
	li {
		list-style-type: none;
	}
}
@media screen and (max-width: 1199px) {
	#content_txt {
		padding-bottom: 30px;
	}
}
@media screen and (max-width: 991px) {
    #crumbpath {
    	padding: 15px;
    }
    .advertLeft {
    	&:last-child {
    		margin-bottom: 0;
    	}
    }
}
@media screen and (max-width: 767px) {
    #crumbpath {
    	transform: translateX(-15px);
    	width: calc(100% + 30px);
    }
    #content_txt {
        img {
            max-width: 100% !important;
        }
    }
}
@media screen and (max-width: 730px) {
	.advertTop {
		img {
			max-width: 100%;
		}
	}
}