.modules-content {
	.module {
		width: 262px;
		height: 222px;
		display: block;
		position: relative;
		margin: 30px auto 0;
		overflow: hidden;
		transition: all .3s ease;
		&:hover {
			h2 {
				color: #fff;
			}
			.modules-content__name-background {
				fill: $attention;
			}
		}
	}
	svg {
		position: absolute;
	}
	h2 {
		@include bold();
		width: 100%;
		position: absolute;
		font-size: 2.1rem;
		line-height: 24px;
		width: 100%;
		color: $attention;
		letter-spacing: 0.5px;
		text-align: center;
		display: block;
		padding: 0 30px;
		left: 0;
		right: 0;
		bottom: 0;
		span {
			display: block;
			position: relative;
			text-shadow: none;
			z-index: 6;
			transform: translateY(-25px);
		}
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: none;
		}
	}
}
.modules-content__shadow {
	width: 263px;
	height: 217px;
	z-index: 2;
	left: 0;
	bottom: 0;
	fill: #0f2c4a;
}
.modules-content__image {
	width: 258px;
	height: 215px;
	z-index: 3;
	bottom: 7px;
	left: 2px;
}
.modules-content__name-shadow {
	width: 255px; 
	height: 55px;
	z-index: 4;
	bottom: 5px;
	left: 2px;
	fill: #0f2c4a;
}
.modules-content__name-background {
	width: 255px;
	height: 48px;
	z-index: 5;
	bottom: 12px;
	left: 0;
	transition: all .3s ease;
	fill: #e4e8eb;
}
.modules-content__paperclip, .modules-content__paperclip--shadow {
	top: -90px;
	right: -224px;
	pointer-events: none;
}
.modules-content__paperclip {
	z-index: 8;
	fill: $attention;
}
.modules-content__paperclip--shadow {
	z-index: 7;
	fill: rgba(0,0,0,0.4);
	transform: rotate(-2deg);
}
@media screen and (min-width: 992px) {
	.modules-content {
		.special {
			display: none !important;
		}
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.modules-content {
		.col-md-4 {
			.module {
				width: 212px;
				height: 181px;
			}
			h2 {
				span {
					transform: translateY(-22px);
				}
			}
			.modules-content__shadow {
				width: 212px;
				height: 176px;
			}
			.modules-content__image {
				width: 208px;
				height: 173px;
			}
			.modules-content__name-shadow {
				width: 205px;
				height: 44px;
			}
			.modules-content__name-background {
				width: 205px;
				height: 39px;
			}
			.modules-content__paperclip, .modules-content__paperclip--shadow {
				top: -84px;
			}
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.modules-content {
		.col-sm-4 {
			.module {
				width: 212px;
				height: 181px;
			}
			h2 {
				span {
					transform: translateY(-22px);
				}
			}
			.modules-content__shadow {
				width: 212px;
				height: 176px;
			}
			.modules-content__image {
				width: 208px;
				height: 173px;
			}
			.modules-content__name-shadow {
				width: 205px;
				height: 44px;
			}
			.modules-content__name-background {
				width: 205px;
				height: 39px;
			}
		}
	}
}