#mod_forum {
	#modForum, .bolder {
		display: none;
	}
}
#mod_contact {
	a[href^="mailto:"] {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
#mod_login {
	.user-avatar {
		text-align: center;
		margin-bottom: 5px;
		img {
			border: 1px solid #0c3560;
		}
	}
	.user-name {
		text-align: center;
		margin-bottom: 5px;
		a {
			color: $attention;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.button-wrapper {
		a {
			white-space: nowrap;
		}
	}
	fieldset {
		@include clearfix();
	}
	label {
		text-transform: none;
		float: left;
		line-height: 34px;
		font-weight: 700;
		color: $color1;
	}
	input[type="text"], 
	input[type="password"] {
		float: left;
		width: 140px;
	}
}
#mod_calendar {
	.clock-container__background {
		path {
			fill: rgb(19, 71, 124);
		}
	}

}
#mod_calendar2 {
	#calendarNews {
		margin: 20px 0 0 auto;
		position: relative;
		width: 245px;
	}
	.caption_nav_prev, .caption_nav_next {
		position: absolute;
		top: 0;
		width: 34px;
		height: 35px;
		a {
			width: 34px;
			height: 35px;
			display: block;
			border-top: 1px solid #091b2e;
			border-bottom: 1px solid #235180;
			background-color: #264667;
			background-image: url('../images/gradient1.png');
			i {
				display: none;
			}
			&:before {
				content: '';
				z-index: 2;
				pointer-events: none;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				display: block;
				width: 9px;
				height: 13px;
				background-repeat: no-repeat;
				background-image: url('../images/arrow-right.svg');
			}
		}
		
	}
	.caption_nav_prev {
		left: 0;
	}
	.caption_nav_next {
		right: 0;
		a {
			&:before {
				transform: translateX(-50%) translateY(-50%) rotate(180deg); 
			}
		}
	}
	table {
		width: 245px;
		caption {
			line-height: 35px;
			margin: 0 0 13px;
			padding: 0 40px;
			text-align: center;
			font-size: 15px;
		}
		th {
			width: 35px;
			height: 35px;
			padding: 0;
			text-align: center;
		}
		td {
			width: 35px;
			height: 35px;
			padding: 0;
			text-align: center;
			&.pr_day {
				background-color: #122641;
			}
			&.imp_day {
				position: relative;
				border: 0;
				a {
					display: block;
					width: 100%;
					height: 100%;
					line-height: 31px;
					border: 1px solid #0d3259;
					background-color: $color1;
					color: #0c3560 !important;
					&:hover {
						text-decoration: none;
						background-color: #0c3560;
						color: $color1 !important;
					}
				}
			}
		}
	}
}
#mod_questionnaire {
	font-size: 1.3rem;
	.module-content {
		padding: 0 0 0 32px;
		& > p {
			margin: 15px 0 20px;
			color: $color1;
		}
	}
	br {
		display: none;
	}
	.button-wrapper {
		margin-top: 20px;
	}
	span {
		max-width: 200px;
	}
	form {
		position: relative;
		input[type="radio"] {
			width: 16px;
			height: 16px;
			margin: 0;
			padding: 0;
			position: absolute;
			transform: translateX(1px) translateY(1px);
			& + label {
				position: relative;
				z-index: 2;
				padding-left: 26px;
				line-height: 17px;
				margin: 0 0 10px;
				.radio {
					display: none;
				}
				.label {
					padding: 0;
					font-size: 1.3rem;
					line-height: 15px;
					white-space: normal;
					border-radius: 0;
					color: $color1;
				}
				&:before {
					content: '';
					display: block;
					width: 16px;
					height: 16px;
					position: absolute;
					background-color: #58a3ef;
					border-radius: 50%;
					left: 0;
					top: 0;
				}
				&:after {
					content: '';
					display: none;
					border-radius: 50%;
					position: absolute;
					left: 5px;
					top: 5px;
					width: 6px;
					height: 6px;
					background-color: #122641;
				}
			}
			&:checked {
				& + label {
					&:after {
						display: block;
					}
				}
			}
		}
	}
}
#mod_weather {
	.module {
		background: #ebebeb;
	}
	.module-content {
		text-align: center; 
		line-height: 1;
	}
	.weatherParam {
		ul {
			margin: 0; 
			padding: 0; 
			list-style-type: none;
			li {
				margin: 0 0 5px 0; 
				font-size: 1.3rem; 
				padding: 0;
			}
		}
		.weatherIco {
			margin-top: 15px; 
			margin-bottom: 15px;
		}
		.weatherLoc {
			font-size: 1.8rem;
		}
		.weatherTemp {
			font-size: 3rem; 
			font-weight: bold;
		}
		.weatherTitle {
			display: none;
		}
		.weatherSource {
			margin-bottom: 0;
		}
	}
}
@media screen and (max-width: 1199px) {
	#mod_questionnaire {
		span {
			max-width: 150px;
		}
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	#mod_calendar2 {
		#calendarNews {
			width: 212px;
		}
		table {
			width: 212px;
			th {
				width: 30px;
				height: 30px;
			}
			td {
				width: 30px;
				height: 30px;
			}
		}
	}
}
@media screen and (max-width: 991px) {
	#mod_questionnaire {
		span {
			max-width: 100%;
		}
	}	
	#mod_calendar2 {
		#calendarNews {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

