.modules-top {
	@include clearfix();
	background-color: #122540;
	background-image: url('../images/gradient1.png');
  	text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
	text-align: center;
	padding: 15px 0 12px;
	font-size: 1.4rem;
	color: $color1;
	a {
		color: $color1;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.module__pin {
		position: absolute;
		z-index: 3;
		right: calc(50% - 14px);
	}
	.module {
		vertical-align: top;
		display: inline-block;
		position: relative;
		margin-left: 13px;
		margin-right: 13px;
		&.module-4 {
			width: 263px;
		}
		&.module-3 {
			width: calc(33.3333% - 30px);
		}
		&.module-2 {
			width: calc(50% - 30px);
		}
		&.module-1 {
			width: calc(100% - 30px);
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		&:first-child {
			.module__pin-path--1 {
				fill: #197597;
			}
			.module__pin-path--2 {
				fill: #1eb3ea;
			}
			.module__pin-path--3 {
				fill: #0a6789;
			}
			.module__pin-path--4 {
				fill: #1388b3;
			}
			.module__pin-path--5 {
				fill: #1eb3ea;
			}
		}
		&:nth-child(2) {
			.module__pin-path--1 {
				fill: #8c2428;
			}
			.module__pin-path--2 {
				fill: #ea1e29;
			}
			.module__pin-path--3 {
				fill: #ac1a1f;
			}
			.module__pin-path--4 {
				fill: #91282c;
			}
			.module__pin-path--5 {
				fill: #ea1e29;
			}
		}
		&:nth-child(3) {
			.module__pin-path--1 {
				fill: #a85b00;
			}
			.module__pin-path--2 {
				fill: #ea830a;
			}
			.module__pin-path--3 {
				fill: #a85b00;
			}
			.module__pin-path--4 {
				fill: #9b5400;
			}
			.module__pin-path--5 {
				fill: #ea830a;
			}
		}
		&:nth-child(4) {
			.module__pin-path--1 {
				fill: #3f813e;
			}
			.module__pin-path--2 {
				fill: #41c53e;
			}
			.module__pin-path--3 {
				fill: #2e7e2b;
			}
			.module__pin-path--4 {
				fill: #2caa29;
			}
			.module__pin-path--5 {
				fill: #49e545;
			}
		}
		&#mod_login {
			fieldset {
				max-width: 280px;
				display: block;
				margin: 0 auto;
			}
			label {
				width: 50px;
				margin-right: 7px;
			}
			input[type="text"], input[type="password"] {
				width: calc(100% - 57px);
			}
			input[type="submit"], .button {
				margin-top: 5px;
			}
			.button-wrapper {
				text-align: center;
			}
		}
		&#mod_calendar {
			.clock-container {
				svg {
					height: 46px;
					width: 46px;
					position: relative;
					z-index: 2;
					top: 0;
					left: 0;
					transform: none;
				}
			}
			.name-day {
				margin: 0;
			}
		}
		&#mod_kzk {
			.modules-top__icon {
				svg:not(.circle) {
					width: 25px;
				}
			}
		}
	}
}
.modules-top__background {
	@include full();
	height: 100%;
}
.modules-top__shadow {
	@include full();
	height: 100%;
	top: 5px;
	path {
		fill: #000;
	}
}
.modules-top__holder {
	position: relative;
	z-index: 2;
	max-width: 330px;
	margin: 0 auto;
	padding: 45px 25px 18px;
}
.modules-top__icon {
	position: relative;
	width: 73px;
	height: 73px;
	margin: 0 auto;
	&:before {
		content: '';
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translateX(-46%) translateY(-54%);
		width: 68px;
		height: 68px;
		z-index: 3;
		background-color: transparent;
		border-radius: 50%;
		border: 3px solid #2b65a0;
	} 
	.clock-container {
		position: absolute;
		top: 12px;
		left: 50%;
		transform: translateX(-44%);
	}
	svg {
		position: absolute;
		top: 50%;
		left: 50%;
	}
	.circle {
		fill: rgb(19, 71, 124);
		width: 73px;
		height: 73px;
		transform: translateX(-50%) translateY(-50%);
	}
	svg:not(.circle) {
		width: 31px;
		fill: #3a81c9;
		transform: translateX(-45%) translateY(-51%);
	}
}
.modules-top__name {
	@include bold();
	display: block;
	margin: 2px auto 12px;
	text-align: center;
	color: #58a3ef;
	font-size: 2rem;
	line-height: 22px;
	letter-spacing: 0.5px;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}
@media screen and (max-width: 1199px) {
	.modules-top {
		.module {
			margin-left: 5px;
			margin-right: 5px;
			&.module-4 {
				width: 225px;
			}
			&.module-3 {
				width: calc(33.3333% - 20px);
			}
			&#mod_login {
				.modules-top__holder {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}
}
@media screen and (max-width: 991px) {
	.modules-top {
		.module {
			margin-bottom: 10px; 
			&.module-4 {
				width: 360px;
			}
			&#mod_login {
				.modules-top__holder {
					padding-left: 25px;
					padding-right: 25px;
				}
			}
		}
	}
	.modules-top__holder {
		padding-bottom: 30px;
	}
}
@media screen and (max-width: 767px) {
	.modules-top {
		.module {
			height: auto !important;
			display: block;
			margin: 0 auto 10px !important;
			width: 280px !important;
		}
	}
}