.pagination-wrapper {
    & > p {
        color: $color1;
    }
    ul {
        font-size: 0;
        margin: 0;
        text-align: left;
        li {
            display: inline-block;
            text-align: center;
            width: 34px;
            height: 35px;
            font-size: 1.4rem;
            padding: 0;
            line-height: 33px;
            position: relative;
            margin-right: 10px;
            vertical-align: top;
            a, span {
                border-top: 1px solid #091b2e;
                border-bottom: 1px solid #235180;
                display: block;                
                width: 34px;
                height: 35px;
            }
            a {
                text-decoration: none !important;
                &:hover, &:focus {
                    text-decoration: none !important;
                }
            }   
            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                fill: #122641;
            }
            .btn-page {
                text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
                color: #122641;
                background-color: $color1;
                &:hover {
                    background-color: #122641;
                    color: $color1;
                    text-decoration: none;
                }
            }
            .page-active {
                text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
                background-color: #122641;
                color: $color1;
            }
            .btn-next, .btn-prev, .btn-first, .btn-last {
                text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
                background-color: $color1;
                color: #122641;
                &:link, &:visited, &:focus {
                    svg {
                        fill: currentColor;
                    }
                }
                &:hover {
                    background-color: #122641;
                    color: $color1;
                    svg {
                        fill: $color1;
                    }
                }
            }
            .btn-prev, .btn-first {
                svg {
                    transform: rotate(180deg) translateX(50%) translateY(50%);
                }
            }
        }
    }
}
