.sidebar-menu {
	width: 263px;
	padding-top: 50px;
	margin-bottom: 25px;
	position: relative;
	background-color: #fff;
	&:before, &:after {
		content: '';
		display: block;
	}
	&:before {
		width: 1px;
		height: 100%;
		z-index: 5;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 41px;
		background-color: #ec9797;
	}
	&:after {
		width: 100%;
		height: 11px;
		background-color: #e4e8eb;
		position: relative;
		z-index: 4;
	}
	.module-name {
		@include bold();
		font-size: 1.9rem;
		line-height: 20px;
		background-color: #fff;
		color: $attention;
		position: relative;
		z-index: 5;
		min-height: 50px;
		margin: 0;
		padding: 15px 20px;
		border-bottom: 1px solid #e0e2e7;
	}
	a {
		color: #0c3560;
		&.keyboard-outline {
			outline-color: $attention !important;
		}
	}
	ul {
		position: relative;
		z-index: 4;
		&.menus {
			padding: 0; 
			list-style: none;	
			background-color: #e4e8eb;
			li {
				position: relative;
				a {
					display: block;
					min-height: 35px;
					font-size: 1.5rem;
					line-height: 19px;
					position: relative;
					padding: 8px 25px 8px 55px;
					border-bottom: 1px solid #b2b6c4;
					text-shadow: 0px 1px 0px rgba(255,255,255, 0.2);
					& > div[aria-hidden="true"] {
						svg {
							position: absolute;
							left: 12px;
							top: calc(50% - 10px);
						}
					}
					&.selected, &:hover {
						color: #58a3ef;
						text-decoration: none !important;
						&:before {
							content: '';
							display: block;
							position: absolute;
							top: calc(50% - 3px);
							left: 17px;
							width: 10px;
							height: 8px;
							z-index: 4;
							background-repeat: no-repeat;
							background-image: url('../images/checked.svg');
						}
					}
					.title {
						.protectedPage {
							position: absolute;
							display: block;
							width: 10px;
							height: 15px;
							top: 50%;
							right: 8px;
							transform: translateY(-50%);
							&:before {
					            display: none;
					        }
					        svg {
					            margin: 0 auto; 
					            fill: #95a5b4;
					        }
							i {
								display: none;
							}
						}
					}
				}
			}
			ul {
				&.dropdown-menu {
					position: static;
					font-size: inherit;
					margin: 0;
					padding: 0 0 0 41px;
					display: none;
					width: 100%;
					border: 0;
					float: none;
					border-radius: 0;
					box-shadow: none;		
				}
			}
		}
	}
}
.sidebar-menu__point {
	path {
		fill: rgb(191, 204, 213);
	}
}
.sidebar-menu__shadow {
	width: 100%;
	position: absolute;
	overflow: hidden;
	height: 40px;
	width: calc(100% - 8px);
	bottom: -17px;
	left: 3px;
	svg {
		width: 100%;
		height: auto;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
		path {
			fill: #000;
		}
	}
}
.sidebar-menu__paperclip {
	position: absolute;
	left: -149px;
	top: -161px;
	display: block;
	z-index: 6;
	fill: $attention;
	transform: rotate(92deg) scaleX(-1);
	pointer-events: none;
}
.sidebar-menu__paperclip--shadow {
	position: absolute;
	left: -140px;
	top: -161px;
	display: block;
	z-index: 4;
	fill: #c0c3c6;
	transform: rotate(98deg) scaleX(-1);
	pointer-events: none;
}
.sidebar-modules {
	.module {
		position: relative;
		margin-bottom: 15px;
		color: $color1;
		line-height: 18px;
		a {
			color: currentColor;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		&:nth-child(4n+1) {
			.module__pin-path--1 {
				fill: #197597;
			}
			.module__pin-path--2 {
				fill: #1eb3ea;
			}
			.module__pin-path--3 {
				fill: #0a6789;
			}
			.module__pin-path--4 {
				fill: #1388b3;
			}
			.module__pin-path--5 {
				fill: #1eb3ea;
			}
		}
		&:nth-child(4n+2) {
			.module__pin-path--1 {
				fill: #8c2428;
			}
			.module__pin-path--2 {
				fill: #ea1e29;
			}
			.module__pin-path--3 {
				fill: #ac1a1f;
			}
			.module__pin-path--4 {
				fill: #91282c;
			}
			.module__pin-path--5 {
				fill: #ea1e29;
			}
		}
		&:nth-child(4n+3) {
			.module__pin-path--1 {
				fill: #a85b00;
			}
			.module__pin-path--2 {
				fill: #ea830a;
			}
			.module__pin-path--3 {
				fill: #a85b00;
			}
			.module__pin-path--4 {
				fill: #9b5400;
			}
			.module__pin-path--5 {
				fill: #ea830a;
			}
		}
		&:nth-child(4n) {
			.module__pin-path--1 {
				fill: #3f813e;
			}
			.module__pin-path--2 {
				fill: #41c53e;
			}
			.module__pin-path--3 {
				fill: #2e7e2b;
			}
			.module__pin-path--4 {
				fill: #2caa29;
			}
			.module__pin-path--5 {
				fill: #49e545;
			}
		}
		&.module--icon {
			@include clearfix();
			.module-content {
				float: left;
				padding: 0 7px 0 32px;
				width: calc(100% - 73px);
			}
			.icon {
				float: left;
				width: 73px;
				height: 73px;
				position: relative;
				svg {
					position: absolute;
					top: 50%;
					left: 50%;
				}
				.circle {
					fill: rgb(19, 71, 124);
					width: 100%;
					height: 100%;
					transform: translateX(-50%) translateY(-50%);
				}
				svg:not(.circle) {
					width: 32px;
					fill: #3a81c9;
					transform: translateX(-45%) translateY(-51%);
				}
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 68px;
					height: 68px;
					z-index: 3;
					background-color: transparent;
					border-radius: 50%;
					border: 3px solid #2b65a0;
					transform: translateX(-47%) translateY(-54%);
				} 
			}
		}
		.module-name {
			@include bold();
			color: #58a3ef;
			font-size: 2.1rem;
			line-height: 25px;
			letter-spacing: 0.5px;
			text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
			padding: 0 0 0 33px;
			margin: 8px 0;
		}
		.module__pin {
			position: absolute;
			top: 5px;
			right: calc(100% - 24px);
		}
		.module-body {
			padding-bottom: 30px;
		}
		&#mod_programs {
			.icon {
				&:first-child {
					display: none !important;
				}
			}
		}
		&#mod_calendar {
			.icon {
				display: none !important;
			}
			.module-content {
				padding-right: 70px;
			}
			p {
				&:first-child {
					margin-bottom: 20px;
				}
				span {
					display: block;
					font-weight: 700;
				}
			}
			.clock-container {
				width: 68px;
				height: 68px;
				z-index: 3;
				background-color: transparent;
				border-radius: 50%;
				position: absolute;
				right: 0;
				top: 0;
				&:after {
					content: '';
					display: block;
					position: absolute;
					width: 68px;
					height: 68px;
					z-index: 3;
					background-color: transparent;
					border-radius: 50%;
					border: 3px solid #2b65a0;
				}
				svg {
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 2;
					width: 46px;
					height: 46px;
					display: block;
					transform: translateX(-50%) translateY(-50%);
					&.clock-container__background {
						position: absolute;
						width: 68px;
						height: 68px;
						right: 3px;
						top: 3px;
						left: auto;
						transform: none;
						z-index: 1;
					}
				}
			}
			p {
				margin: 0;
			}
		}
		&#mod_login {
			label {
				width: calc(100% - 140px);
				text-align: right;
				padding-right: 20px;
			}
			input[type="text"], input[type="password"] {
				margin-bottom: 8px;
			}
			input[type="submit"] {
				margin-left: calc(100% - 140px);
			}
			.button-wrapper {
				position: relative;
				min-height: 37px;
				a {
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}
.sidebar-modules__interlude {
	max-width: 360px;
	display: block;
	margin: 0 auto;
	width: 262px;
	height: 24px;
}
.sidebar-credits {
	margin-top: 20px;
	text-align: center;
	color: $color1;
	a {
		color: currentColor;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.module--special {
	margin: 30px 0;
	.sidebar-modules__interlude {
		display: none;
	}
	a {
		width: 262px;
		height: 222px;
		display: block;
		position: relative;
		margin: 0 auto;
		text-decoration: none;
		transition: all .3s ease;
		&:hover {
			text-decoration: none;
			h2 {
				color: #fff;
			}
			.modules-content__name-background {
				fill: $attention;
			}
		}
	}
	svg {
		position: absolute;
	}
	h2 {
		@include bold();
		width: 100%;
		position: absolute;
		font-size: 2.1rem;
		line-height: 24px;
		width: 100%;
		color: $attention;
		letter-spacing: 0.5px;
		text-align: center;
		display: block;
		padding: 0 30px;
		left: 0;
		right: 0;
		bottom: 0;
		span {
			display: block;
			position: relative;
			text-shadow: none;
			z-index: 6;
			transform: translateY(-25px);
		}
	}
}
@media screen and (max-width: 1199px) {
	.sidebar-menu {
		width: 100%;
		&:before {
			left: 28px;		
		}
		ul {
			&.menus {
				ul {
					&.dropdown-menu {
						padding: 0 0 0 28px;
					}
				}
				li {
					a {
						min-height: 31px;
						padding: 6px 25px 6px 35px;
						& > div[aria-hidden="true"] {
							& > svg {
								left: 4px;
							}
						}
						&.selected, &:hover {
							&:before {
								left: 10px;
							}
						}
					}
				}
			}
		}
	}
	.sidebar-modules {
		.module {
			&#mod_calendar {
				.clock-container {
					top: 40px;
				}
			}
			&.module--icon {
				.module-content {
					width: calc(100% - 50px);
				}
				.icon {
					width: 50px;
					height: 50px;
					&:before {
						transform: translateX(-50%) translateY(-50%) scale(0.7);
					}
					.circle {
						width: 50px;
						height: 50px;
					}
					svg:not(.circle) {
						transform: translateX(-50%) translateY(-50%);
						width: 25px;
						height: auto;
					}
				}
			}
		}
	}
	.sidebar-modules__interlude {
		width: 212px;
		height: 19px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.module--special {
		a {
			width: 212px;
			height: 181px;
		}
		h2 {
			span {
				transform: translateY(-22px);
			}
		}
		.modules-content__shadow {
			width: 212px;
			height: 176px;
		}
		.modules-content__image {
			width: 208px;
			height: 173px;
		}
		.modules-content__name-shadow {
			width: 205px;
			height: 44px;
		}
		.modules-content__name-background {
			width: 205px;
			height: 39px;
		}
		.modules-content__paperclip, .modules-content__paperclip--shadow {
			top: -84px;
		}
	}
}
@media screen and (min-width: 992px) {
	.sidebar-modules {
		.module {
			height: auto !important;
		}
	}
}
@media screen and (max-width: 991px) {
	.sidebar-menu__shadow {
		bottom: -38px;
	}
	.sidebar-modules {
		.module {
			max-width: 360px;
			&#mod_login {
				label {
					text-align: left;
					padding-right: 0;
					width: 60px;
				}
				input[type="submit"] {
					margin-left: 60px;
				}
			}
		}
		.module--special {
			display: none !important;
			height: 0 !important;
		}
	}
	.sidebar-modules__interlude--advert {
		position: static !important;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.sidebar-modules {
		font-size: 0;
		text-align: center;
		.module {
			text-align: left;
			font-size: 1.3rem;
			width: 320px;
			display: inline-block;
			vertical-align: top;
			margin: 10px 20px;
			.module-body {
				padding-bottom: 55px;
			}
			.module__pin {
				right: auto;
				left: -85px;
			}
			.module-name {
				margin-bottom: 30px;
			}
			.module-content {
				padding: 0 40px 0 32px;
			}
			&.module--icon {
				.icon {
					position: absolute;
					left: calc(50% - 25px);
					top: 60px;
					width: 73px;
					height: 73px;
					&:before {
						transform: translateX(-47%) translateY(-54%);
					}						
					.circle {
						width: 73px;
						height: 73px;
					}
					svg:not(.circle) {
						width: 32px;
						height: auto;
						transform: translateX(-45%) translateY(-51%);
					}
				}
				.module-content {
					padding: 80px 32px 0;
				}
			}
			&#mod_calendar {
				.clock-container {
					top: 60px;
					right: calc(50% - 34px);
				}
			}
		}
	}
	.sidebar-modules__interlude {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 320px;
		height: 30px;
	}
}
@media screen and (max-width: 767px) {
	.sidebar-modules {
		.module {
			display: block;
			width: 100%;
			height: auto !important;
			margin: 0 auto;
			.module-name {
				margin-bottom: 10px;
			}
			&#mod_login {
				fieldset {
					padding-left: 32px;
				}
			}
		}
	}
	.sidebar-modules__interlude {
		position: static;
		width: 360px;
		height: 33px;
	}
}
@media screen and (max-width: 560px) {
	.sidebar-menu__shadow {
		bottom: -25px;
	}
}
@media screen and (max-width: 400px) {
	.sidebar-modules__interlude {
		width: 100%;
		height: auto;
	}
}