.toolbar {
	@include clearfix();
	position: relative;
	z-index: 4;
}
.toolbar__links {
	padding: 14px 0 22px;
	li, ul {
		font-size: 0;
		display: inline-block;
		vertical-align: bottom;
	}
	li {
		&.fonts {
			margin: 0 5px;
			li {
				margin-right: 3px; 
				&:last-child {
					margin: 0;
				}
			}
		}
		&.contrast {
			width: 31px;
			position: relative;
			text-align: center;
			&:before, &:after {
				content: '';
				display: block;
				position: absolute;
				background-color: #7c4713;
				width: 1px;
				height: 6px;
				top: 50%;
				transform: translateY(-50%);
			}
			&:before {
				left: 0;
			}
			&:after {
				right: 0;
			}
			svg {
				margin: 0 auto;
				fill: $attention;
				width: 18px;
				height: 19px;
				display: inline-block;
			}
		}
		&.bip {
			transform: translateY(4px);
		}
	}
}
.toolbar__search {
	width: 243px;
	height: 34px;
	padding: 0 6px 0 12px;
	position: relative;
	border: 1px solid #5e3823;
	background-color: #2c1a10;
	button {
		width: 30px;
		height: 30px;
		padding: 5px;
		border: 0;
		background-color: transparent;
		position: absolute;
		right: 1px;
		top: 1px;
		&:hover, &:focus {
			background-color: #5e3823;
		}
		svg {
			path {
				fill: #ee8825;
			}
		}
	}
	input[type="text"] {
		display: inline-block;
		width: calc(100% - 30px);
		line-height: 32px;
		font-size: 1.3rem;
		height: 32px;
		border-radius: 0;
		padding: 0;
		background-color: transparent;
		color: $attention;
		border: 0;
	}
}
.navbar {
	border: 0;
	margin: 0;	
}
.navbar-toggle {
	border: 0;
}
@media screen and (max-width: 1199px) {
	.toolbar__search {
		width: 100%;
	}
	.toolbar__links {
		padding-left: 4px;
		li {
			&.fonts {
				margin: 0 25px;
				li {
					margin-right: 8px;
				}
			}
			&.bip {
				transform: translateY(10px);
			}
		}
	}
}
@media screen and (max-width: 991px) {
	.toolbar {
		width: calc(100% + 30px);
		transform: translateX(-15px);
		padding: 0 15px;
	}
	.toolbar__links {
		padding: 6px 0 15px;
		float: left;
		li {
			margin: 0 5px 0 0;
			&.fonts {
				display: none;
			}
			&.bip {
				transform: translateY(6px);
				a {
					width: 26px;
					overflow: hidden;
					img {
						max-width: 121px;
						width: 121px;
					}
				}
			}
		}
	}
	.toolbar__search {
		position: absolute;
		right: 15px;
		top: 6px;
		overflow: hidden;
		width: 44px;
		height: 40px;
		button {
			width: 40px;
			height: 40px;
			padding: 10px;
		}
		&.show {
			width: 244px;
		}
		input[type="text"] {
			width: calc(100% - 40px);
			line-height: 42px;
			height: 42px;
		}
	}
	.navbar {
		.container, .holder {
			width: 100%;
			padding: 0;
		}
	}
	.navbar-collapse.collapse, .navbar-collapse {
		display: none !important;
		padding: 0;
	}
	.navbar-collapse {
		border-top: 0;
	}
	.navbar-collapse.menu.collapse.in {
		display: block !important;
	}
	.navbar-header {
		width: 100%;
		height: 50px;
		background-color: #13477c;
		float: none;
		width: calc(100% + 30px);
		transform: translateX(-15px);
	}
	.navbar-toggle {
		float: none;
		display: block;
		width: 100%;
		padding: 13px 15px;
		margin: 0;
		i {
			margin-left: 15px;
			pointer-events: none;
			transition: all .3s ease;
			display: block;
			width: 36px;
			height: 3px;
			background-color: $color1;
			&:not(:last-of-type) {
				margin-bottom: 7px;
			}
		}
		&[aria-expanded="true"] {
			i {
				&:first-of-type {
					transform: rotate(45deg) translateX(8px) translateY(7px);
				}
				&:nth-of-type(2) {
					opacity: 0;
				}
				&:last-of-type {
					transform: rotate(-45deg)  translateX(7px) translateY(-6px);
				}
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.navbar-collapse.menu.collapse.in {
		overflow-x: hidden;
	}
}