$base: #0d335a;
$color1: #aad4ff;
$attention: #ee8825;
html, body {
	margin: 0; padding: 0; 
	min-width: 320px; 
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: $color1; 
	-webkit-font-smoothing: antialiased;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.3rem; 
	background-color: #0d335a;
	background-image: url('../images/background.jpg');
	background-repeat: repeat;
}
.page {
	position: relative;
	overflow-x: hidden;
}
img {
	max-width: 100%;
}
.label, label {
	white-space: normal;
	text-align: left;
	border-radius: 0;
	line-height: 34px;
	display: inline-block;
}
p, span, a, h2, h3 {
	max-width: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
p, span {
	text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}
.dropdown-backdrop {
	display: none;
}
form, fieldset, button {
	margin: 0; 
	background-color: transparent;
	padding: 0; 
	border: none;
}
legend {
	position: absolute; 
	left: -9000em;
}
input, select, textarea {
	font-size: 1.3rem; 
	font-family: 'Roboto', Tahoma, Arial, Helvetica, sans-serif; 
	outline: none;
}
ul {
	margin: 0; 
	padding: 0; 
	list-style: none;
}
a {
	display: inline-block;
	transition: all .3s ease-in-out; 
	color: $attention;	
	&:hover, &:focus {
		color: currentColor;
	}
	&:focus {
		text-decoration: none;
	}
	&[href^="mailto:"] {
		word-break: break-all;
	}
}
.skip-links {
    position: absolute;
    top: 0;
	a, a:visited {
	    display: inline-block;
	    left: -9999px;
	    padding: 7px 10px;
	    position: absolute;
	    text-decoration: none;
	    z-index: 100;
	    min-width: 200px;
	    text-align: center;
	    -webkit-transition: opacity 0.3s ease 0s;
	    transition: opacity 0.3s ease 0s;
	    opacity: 0;
	}
	a {
		&:focus, &:hover, &:active, &:visited:focus, &:visited:hover, &:visited:active {
		    left: 0;
		    background-color: $attention;
		    border: 2px solid $color1;
		    color: #fff;
		    font-weight: bold;
		    opacity: 1;
		    outline: none;
		}
	}
}
.no-outline {
    outline: none !important;
}

a, button, .menu-top .navbar-toggl, .dropdown-toggle {
	&:focus {
	    outline: thin dotted;
	    outline: 5px auto -webkit-focus-ring-color;
	    outline-offset: 0;
	}
}
a, button, a.button, input[type=submit], input[type=radio], input[type=button], .toolbar .searchbar form input[type=text], .menu-top .navbar-toggle, .dropdown-toggle {
    &.keyboard-outline {
    	outline: 2px solid #fff;
	    outline-offset: 0;
	    display: inline-block;
	}
}
input[type="text"], input[type="password"], input[type="email"], textarea {
	&.keyboard-outline {
		outline: 2px solid #fff !important;
		outline-offset: 0;
	}
}
.butForm, button:not(#toolbar-search):not(#navbar-mobile), input[type="submit"]:not(#toolbar-search), .button {
	@include bold();
	border-top: 1px solid #091b2e !important;
	border-bottom: 1px solid #235180 !important;
	border-left-width: 0;
	transition: all .3s ease;
	border-right-width: 0;
	outline-width: 0;
	background-color: #264667;
	background-image: url('../images/gradient1.png');
	color: $color1 !important;
	text-decoration: none !important;
	padding: 10px 19px !important;
	line-height: 15px;
	font-size: 1.5rem;
	text-align: center;
	letter-spacing: 0.5px;
	&:hover {
		background-image: none;
		background-color: $color1;
		color: #264667 !important;
		text-decoration: none !important;
	}
	&.keyboard-outline {
		outline-width: 2px;
	}
}
h3 {
	margin-top: 2rem; 
	margin-bottom: 1rem; 
	font-size: 2.4rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .header__title p {
	@include bold();
	color: $attention;
}
h4, h5, h6 {
	margin-top: 1rem; 
	margin-bottom: 1rem; 
}
h4 {
	font-size: 2rem;
}
h5 {
	font-size: 1.8rem;
}
h6 {
	font-size: 1.6rem;
}
div[aria-hidden="true"] {
    display: inline;
}
.main-header {
    @include bold();
	font-size: 3.2rem;
    line-height: 36px;
    color: $attention !important;
    letter-spacing: 0.5px;
    margin: 0 0 15px;
    padding: 0;
    display: block;
    text-align: center;
    text-shadow: rgba(0,0,0,0.2);
    span {
    	display: inline-block;
    	position: relative;
    	padding-bottom: 9px;
    	&:after {
			content: '';
			height: 4px;
			width: 100%;
			display: block;
			background-color: #0f2139;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
    	}
    }
}
.main-text {
	a {
		color: $attention;
		text-decoration: underline;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}
.page-content-mobile, a#top, #flashclock {
	display: none;
}
.page-content {
	padding-top: 0;
}
.files-header,
.gallery-header,
.subHead,
.main-header {
    font-size: 3.2rem;
    line-height: 36px;
    @include bold();
    color: $attention;
    letter-spacing: 0.5px;
    margin: 0 0 15px;
    padding: 0;
}
input[type=text],
input[type=search],
input[type=password],
input[type=submit],
textarea,
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type=text],
input[type=search],
input[type=password],
textarea {
	border: 1px solid #235180;
	padding: 0 10px;
	line-height: 32px;
	color: $color1;
	font-size: 1.5rem;
	background-color: #122641;
	max-width: 340px;
}
input[type=text],
input[type=search],
input[type=password] {
	height: 34px;
}
.dropdown-menu {
	& > li {
		& > a {
			white-space: normal;
			&:focus, &:hover {
				background: transparent;
			}
		}
	}
}
table {
	width: 100%; 
	table-layout: fixed;
	border-collapse: collapse; 
	th {
		font-weight: 700; 
		padding: 5px; 
		background: #122641;
		color: #98bfe9;
		text-transform: capitalize;
		border-bottom: 1px solid #122641;
		&:first-child {
			border-left: 1px solid #122641;
		}
		&:last-child {
			border-right: 1px solid #122641;
		}
	}
	td {
		color: $color1; 
		padding: 5px; 
		border: 1px solid #122641;
	}
	caption {
		color: $color1;
		font-weight: 700;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    html {
    	font-size: 56.25%;
    }
}
@media screen and (max-width: 767px) {
    .table-responsive {
    	border: 0;
    }
}