@mixin clearfix {
	&:before, &:after {
			content: " ";
			display: table;
	}
	&:after {
		clear: both;
	}
}
@mixin bold() {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}
@mixin full() {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}